{% extends "reti-base.html" %}
{% block title %}
44. Reform in Chess - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>44. Reform in Chess</h1>

<p>When Capablanca in his championship march with Lasker gave us at the beginning
a very large amount of drawn games, he is said to have expressed himself as
follows to a newspaper reporter. Chess technique and the knowledge of the
openings have progressed to such an extent to-day that it might, even against
a weaker player, be difficult to win a game. As a remedy he proposed a reform
in chess. He suggested a change of the opening position and as an example the
interchange of the positions of Rooks and Bishops. I think that perhaps
Capablanca&#8217;s fears are exaggerated. For even the new ideas described in this
book, relating to the execution of the game, take games out of the ordinary
rut, and to effect a draw through technique alone is not as easy as it was
formerly. But in principle Capablanca was certainly right. In order to enforce
a mate one must at the end have at least the preponderance of a Rook. We may
have played better than our opponent and have wrested from him material or
positional preponderance without being in a position to comply with the
obligation of mating him.</p>

<p>It is the same as if with a race it has been agreed that a small difference of
time, say a second, should not decide the race and that it should count as a
dead heat. Such a result according to Capablanca would be that the best
runners could not beat each other. But Capablanca&#8217;s suggestion for effecting
reforms in chess clearly does not go to the root of the matter.</p>

<p>The obligation to mate still remains. We still adhere therefore to the
illustration of the foot race, and the useless second of time which was not to
affect the decision, as being pertinent. Undoubtedly for some years the study
of the openings in the suggested new opening positions would not be matured
and so we should get fewer drawn games. But such results would only be
obtained through mistakes in the openings, that is to say through weaker play,
not through progress but rather through retrogression. Every true chess lover
must be averse to Capablanca&#8217;s casual suggestion.</p>

<p>The question arises: Haw has the fact of having mated an opponent given rise
to the proof that the player so mating has played better than his opponent? In
chess of the middle ages the moves of pieces were more limited as compared
with those of to-day. The Rook was by far the strongest piece. The Bishop
could only move two squares at a time and the Queen was weaker than the
Bishop. The usual kind of victory at that time was by taking pieces
(elimination of material). Such a victory was attained when one player had
taken from the other all his pieces except the King. A stalemate occurred much
more seldom and was therefore the more highly prized. To win by a mate, that
is to say by one player actively mating the other, was, on account of the
weakness of the pieces, well-nigh impossible. So to effect a mate it was
necessary to acquire too great preponderance of pieces. It occurred almost
only in problems. If a mate was once brought about in a game, it was usual to
note it as a matter for everlasting memory, and in consequence of its rarity
would be highly treasured, even to excess.</p>

<p>It was at the commencement of modern times that the present moves of the
pieces became customary. Henceforth with the greater powers of the pieces,
especially those of the Queen, it was somewhat easy to effect a mate when one
had an advantage; for the small positional advantages of to-day, which can
only with the greatest trouble be made use of, were not known at that time. A
pawn, more or less, played then no great part. Seeing that a win by a mate was
in the middle ages valued as the best form of a victory, naturally nobody who
had obtained an advantage was content with a win by taking pieces or by
stalemate. Those who were so content became later penalised, inasmuch as a
rule sprang up that the King should not have his last piece taken from him,
and then another to the effect that he who caused his opponent to be
stalemated should suffer the penalty of the loss of the game. At that period
they had not learnt that there could well be preponderance, sufficient to
enable a player to bring about a stalemate to the other side, but not
sufficient to permit of that player enforcing a mate.</p>

<p>Those were romantic times for chess. To-day, when chess technique is in a such
condition of refinement, what is there more natural than that we should revert
to the original rules. Lasker has made such a proposal with which I associate
myself with full conviction. In order to prevent the decay of chess by the
frequent occurrence of drawn games finer nuances of difference of execution
must show themselves in the result, and stalemates should be considered and
counted in the estimating of scores for tournament purposes, wins by them to
count less than enforced mates. It would be a matter for congratulation if the
managers of such tournaments just for once decided as an experiment to promote
a tournament on these lines.</p>

{% endblock %}
