{% extends "reti-base.html" %}
{% block title %}
45. Symbolism in Chess - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>45. Symbolism in Chess</h1>

<p>Chess has afforded writers an occasion for the suggestion of every kind of
symbolism. Most of them thought by such means to produce ingenious
comparisons, very few had the notion that this symbolism had its foundation
only in the essence of chess and arose out of it, and I feel I am here
confronted with the question: How does a chess player think during the game?
To answer it, and to present the subject to my readers in the most popular
way, I should say that a player when faced with a particular position  puts
this query to himself, namely, &#8220;In what way ought I to set about dealing with
a matter of such a more or less complicated nature?&#8221; We see that it presents a
practical problem such as we meet with in everyday life. Yet chess is purely
abstract. The board and the pieces are suitable figurative presentations of
abstract chess, somewhat as in analytical geometry figurative analytical
functions are represented by curves. And just as in mathematics the relations
of quantities are represented without the aid of concrete objects, and
quantities in the abstract are the real subject matter of mathematical
science, so the idea underlying chess is to bring the methods of practical
dealing into agreement with methods that have no ultimate objects in
themselves. From that we understand how it is that the comparisons between
chess and life, so often made, are only symbolic. We have seen, for example,
that in chess the principle that every move shuold advance development, is for
most players of the greatest use; but that the most gifted masters of to-day
prefer to play from the beginning according to a scheme. This problem applied
to life would present itself in this form: &#8220;Should a man from the very outset
develop all his powers and capacity or should he from the commencement of his
career keep before his eyes a distinct object in life?&#8221; Equally as in chess,
one feels bound to recommend to the average man the former alternative, whilst
the genius does not adopt any such rules. The grasp of chess in that light
enables us the better to appreciate the performances of the great chess
masters. If we recognise life in chess we shall better understand the
greatness of Steinitz, who disdained to play for proximate, yet transient
advantages, but strove only after permanent ones. We shall no longer complain,
as so many lovers of sacrificial attacks have done, but express our admiration
of Steinitz who, for the sake of a pawn or other smaller but lasting
advantage, lays himself open to an apparently dangerous attack.</p>

<p>To-day we see in chess the fight of aspiring Americanism against the old
European intellectual life: a struggle between the technique of Capablanca, a
<em>virtuoso</em> in whose play one can find nothing tangible to object to, and
between great European masters, all of them artists, who have the qualities as
well the faults of artists in the treatment of the subject they devote their
lives to: they experimentalise and in striving after what is deep down, they
overlook what is near at hand.[1]</p>

<p>At the last London Congress, with the time limit so unfavourable to the
European type, they succumbed before Capablanca. Yet they go on investigating
and building further. Who will come out of this struggle victorious? Nobody
can prophecy the answer. But one thing is certain. If Americanism is
victorious in chess, it will also be so in life. For in the idea of chess and
the development of the chess mind we have a <em>picture</em> of the intellectual
struggle of mankind.</p>

<table class="docutils footnote" frame="void" id="id2" rules="none">
<colgroup><col class="label" /><col /></colgroup>
<tbody valign="top">
<tr><td class="label">[1]</td><td>I should like to add here, that the Americanism of Capablanca&#8217;s play
shows itself in a milder, more attractive garb, probably (as was the case
with Morphy) by reason of his Latin ancestry.</td></tr>
</tbody>
</table>

{% endblock %}
