{% extends "capablanca-cf-base.html" %}
{% block title %}
24. Cutting off pieces from the scene of action - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>24. Cutting off pieces from the scene of action</h1>

<p>Very often in a game a master only plays to cut off, so to speak, one of
the pieces from the scene of actual conflict. Often a Bishop or a Knight is
completely put out of action. In such cases we might say that from that
moment the game is won, because for all practical purposes there will be
one more piece on one side than on the other. A very good illustration is
furnished by the following game.</p>

<h3>Example 54.</h3>

<p>Played at the Hastings Victory Tournament, 1919.</p>

<p>(Four Knights) <strong>White: W. Winter. Black: J. R. Capablanca.</strong></p>

{{ game.pgn("example54", "chapter4", "capablanca-cf") }}

{% endblock %}
