{% extends "capablanca-cf-base.html" %}
{% block title %}
21. Direct attacks "en masse" - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>21. Direct attacks "en masse"</h1>

<p>In the first case the attack must be carried on with sufficient force to
guarantee its success. Under no consideration must a direct attack against the
King be carried on <em>à outrance</em> unless there is absolute certainty in
one's own mind that it will succeed, since failure in such cases means
disaster.</p>

<h3>Example 50. </h3>

<p>A good example of a successful direct attack against the King is shown in
the following diagram.</p>

<p>In this position White could simply play Bc2 and still have the better
position, but instead he prefers an immediate attack on the King's side, with
the certainty in his mind that the attack will lead to a win.  (We give, from
now on, games and notes, so that the student may familiarise himself with the
many and varied considerations that constantly are borne in mind by the Chess
Master. We must take it for granted that the student has already reached a
stage where, while not being able fully to understand every move, yet he can
derive benefit from any discussion with regard to them). The game continues
thus:</p>

{{ game.pgn("example50", "chapter4", "capablanca-cf") }}

<h3>Example 51. </h3>

<p>Another example of this kind.</p>

<p>In the position below the simple move Nxe5 would win, but White looks for
complications and their beauties. Such a course is highly risky until a wide
experience of actual master-play has developed a sufficient insight into all
the possibilities of a position. This game, which won the brilliancy prize at
St. Petersburg in 1914, continued as follows:</p>

{{ game.pgn("example51", "chapter4", "capablanca-cf") }}

<p>The student should note that in the examples given the attack is carried
out with every available piece, and that often, as in some of the variations
pointed out, it is the coming into action of the last available piece that
finally overthrows the enemy. It demonstrates the principle already
stated:</p>

<p><em>Direct and violent attacks against the King must be carried "en masse",
with full force, to ensure their success. The opposition must be overcome at
all cost; the attack cannot be broken off, since in all such cases that means
defeat.</em></p>

{% endblock %}
