{% extends "capablanca-cf-base.html" %}
{% block title %}
22. The force of the threatened attack - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>22. The force of the threatened attack</h1>

<p>Failing an opportunity, in the second case, for direct attack, one must
attempt to increase whatever weakness there may be in the opponent's position;
or, if there is none, one or more must be created. It is always an advantage
to threaten something, but such threats must be carried into effect only if
something is to be gained immediately. For, holding the threat in hand, forces
the opponent to provide against its execution and to keep material in
readiness to meet it. Thus he may more easily overlook, or be unable to parry,
a thrust at another point. But once the threat is carried into effect, it
exists no longer, and your opponent can devote his attention to his own
schemes. One of the best and most successful manoeuvres in this type of game
is to make a demonstration on one side, so as to draw the forces of your
opponent to that side, then through the greater mobility of your pieces to
shift your forces quickly to the other side and break through, before your
opponent has had the time to bring over the necessary forces for the
defence.</p>

<p>A good example of positional play is shown in the following game.</p>

<h3>Example 52. </h3>

<p>Played at the Havana International Masters Tournament, 1913.</p>

<p>(French Defence) <strong>White: J. R. Capablanca. Black: R. Blanco.</strong></p>

{{ game.pgn("example52", "chapter4", "capablanca-cf") }}

<p>Commenting on White's play in this game, Dr. E. Lasker said at the time
that if White's play were properly analysed it might be found that there
was no way to improve upon it.</p>

<p>These apparently simple games are often of the most difficult nature.
Perfection in such cases is much more difficult to obtain than in those
positions calling for a brilliant direct attack against the King,
involving sacrifices of pieces.</p>

{% endblock %}
