{% extends "capablanca-cf-base.html" %}
{% block title %}
23. Relinquishing the initiative - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>23. Relinquishing the initiative</h1>

<p>In the third case, there is nothing to do, once the material advantage is
obtained, but to submit to the opponent's attack for a while, and once it
has been repulsed to act quickly with all your forces and win on material.
A good example of this type of game is given below.</p>

<h3>Example 53. </h3>
<p>From the Havana International Masters Tournament, 1913.</p>

<p>(Ruy Lopez) <strong>White: J. R. Capablanca. Black: D. Janowski.</strong></p>

{{ game.pgn("example53", "chapter4", "capablanca-cf") }}

<p>I have passed over the game lightly because of its difficult nature, and
because we are at present concerned more with the opening and the
middle-game than we are with the endings, which will be treated separately.</p>

{% endblock %}
