{% extends "capablanca-cf-base.html" %}
{% block title %}
20. The initiative - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>20. The initiative</h1>

<p>Before we revert to the technique of the openings it will be advisable to
dwell a little on general theory, so that the openings in their relation to
the rest of the game may be better understood.</p>

<p>As the pieces are set on the board both sides have the same position and
the same amount of material. White, however, has the move, and the move in
this case means <em>the initiative</em>, and the initiative, other things
being equal, is an advantage. Now this advantage must be kept as long as
possible, and should only be given up if some other advantage, material or
positional, is obtained in its place. White, according to the principles
already laid down, develops his pieces as fast as possible, but in so doing he
also tries to hinder his opponent's development, by applying pressure wherever
possible. He tries first of all to control the centre, and failing this to
obtain some positional advantage that will make it possible for him to keep on
harassing the enemy. He only relinquishes the initiative when he gets for it
some material advantage under such favourable conditions as to make him feel
assured that he will, in turn, be able to withstand his adversary's thrust;
and finally, through his superiority of material, once more resume the
initiative, which alone can give him the victory. This last assertion is
self-evident, since, in order to win the game, the opposing King must be
driven to a position where he is attacked without having any way of escape.
Once the pieces have been properly developed the resulting positions may vary
in character. It may be that a direct attack against the King is in order; or
that it is a case of improving a position already advantageous; or, finally,
that some material can be gained at the cost of relinquishing the initiative
for a more or less prolonged period.</p>

{% endblock %}
