
.board-piece-start-style
{
    visibility:hidden;
    background-repeat:no-repeat;
    border:0px;
    padding:0px;
    position:relative;
}

.ct-board-container
{
 padding: 5px;

}


.ct-board 
{
	display:block;
}



.ct-board-border
{ 
  border:2px solid #363A3D;
}

.ct-board-border-lightgrey
{
    background-color:#777777;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-grey
{
    background-color:#555555;
    color:#CCCCCC;
    border:2px solid #363A3D;
}


.ct-board-border-brown
{
    background-color:#9C6C3C;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-wood
{
    background-color:#9C6C3C;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-green
{
    background-color:#408038;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-greenwhite
{
    background-color:#FFFFF0;
    background-color: #2C794F;
    background-color:#112724;
    color:black;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-marblebrown
{
    background-color:#9C6C3C;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-marblegreen
{
    background-color:#9C6C3C;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-metal
{
    background-color:#555555;
    color:#CCCCCC;
    border:2px solid #363A3D;
    /* background: url('/images/tiles/Aluminum Tubing.jpg') repeat; */
}

.ct-board-border-stucco
{
    background-color:#777777;
    color:#CCCCCC;
    color:#333333;
    border:2px solid #363A3D;
    background: url('/images/tiles/Worn Stucco.jpg') repeat;
}

.ct-board-border-goldsilver
{
    background-color:#777777;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-wooddark
{
    background-color:#777777;
    color:#CCCCCC;
    border:2px solid #363A3D;
    background: url('/images/tiles/WoodFine0011_preview.jpg') repeat;
}

.ct-board-border-sandsnow
{
    background-color:#555555;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-crackedstone
{
    background-color:#555555;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board-border-granite
{
    background-color:#555555;
    color:#CCCCCC;
    border:2px solid #363A3D;
}

.ct-board 
{
  /*
    width: auto;
  height: auto;
  width: 100%;
  height: 100%;  */
  overflow: hidden; 
/*  _overflow: hidden; */
    text-align: center; /* IE5 hack */
  
}

.ct-black-square, .ct-white-square, .ct-black-square-grey, .ct-white-square-grey, .ct-black-square-lightgrey, .ct-white-square-lightgrey, .ct-black-square-brown, .ct-white-square-brown, .ct-black-square-greenwhite, .ct-white-square-greenwhite, .ct-black-square-green, .ct-white-square-green, .ct-black-square-woodlight, .ct-white-square-woodlight , .ct-black-square-marblebrown, .ct-white-square-marblebrown,.ct-black-square-metal, .ct-white-square-metal,.ct-black-square-stucco, .ct-white-square-stucco,.ct-black-square-goldsilver, .ct-white-square-goldsilver,.ct-black-square-wooddark, .ct-white-square-wooddark,.ct-black-square-sandsnow, .ct-white-square-sandsnow,.ct-black-square-crackedstone, .ct-white-square-crackedstone,.ct-black-square-granite, .ct-white-square-granite,.ct-black-square-marblegreen, .ct-white-square-marblegreen
{
    display:block;
    float:left;
}

.ct-black-square, .ct-black-square-grey {
	background-color:#666666;
/*
        background-color:#363A3D;

	background-color:#6E4315;
*/
}

.ct-white-square, .ct-white-square-grey {
    background-color: #8D8D8C;
/*
	background-color:#CBA651;
*/
}

.ct-white-square-lightgrey {
    background-color: #CDCDCD;
}

.ct-black-square-lightgrey {
    background-color: #AAAAAA;
}

.ct-white-square-brown {
    background-color: #FCCC9C;
}

.ct-black-square-brown {
    background-color: #CC9C6C;
}

.ct-white-square-woodlight {
    background-color: #FCCC9C;
    background: url('/images/tiles/WoodFine0017_preview.jpg') repeat;
    background: url('/images/tiles/WoodFine0009_preview.jpg') repeat;
}

.ct-black-square-woodlight {
    background-color: #CC9C6C;
    background: url('/images/tiles/WoodFine0011_preview.jpg') repeat;
    background: url('/images/tiles/WoodFine0015_preview.jpg') repeat;
}

.ct-white-square-green {
    background-color: #C8C060;
    color:red;
}

.ct-black-square-green {
    background-color: #70A068;
    color:red;
}

.ct-white-square-greenwhite {
    background-color: #92928F;
    background-color: white;
    background-color:#FFFFF0;
    color:red;
}

.ct-black-square-greenwhite {
    background-color: #112724;
    background-color: #183130;
    background-color: #486160;
    background-color: #2C794F;
    color:red;
}


.ct-white-square-marblebrown {
    background-color: #FCCC9C;
    background: url('/images/tiles/Light Swirl Marble.jpg') repeat;

}

.ct-black-square-marblebrown {
    background-color: #CC9C6C;
    background: url('/images/tiles/Onix Pina.jpg') repeat;
    background: url('/images/tiles/Egyptian Marble.jpg') repeat;
}

.ct-white-square-metal {
    background-color: #FCCC9C;
    background: url('/images/tiles/Aluminum Light.jpg') repeat;

}

.ct-black-square-metal {
    background-color: #CC9C6C;
    background: url('/images/tiles/Aluminum Dark.jpg') repeat;
}

.ct-white-square-stucco {
    background-color: #FCCC9C;
    background: url('/images/tiles/Tan Stucco.jpg') repeat;

}

.ct-black-square-stucco {
    background-color: #CC9C6C;
    background: url('/images/tiles/Santa Fe Stucco.jpg') repeat;
}

.ct-white-square-goldsilver {
   background-color: #FCCC9C;
    background: url('/images/tiles/Mothership.jpg') repeat;

}

.ct-black-square-goldsilver {
    background-color: #CC9C6C;
    background: url('/images/tiles/Raw Gold.jpg') repeat;
}

.ct-white-square-wooddark {
    background-color: #FCCC9C;
    background: url('/images/tiles/WoodFine0010_preview.jpg') repeat;

}

.ct-black-square-wooddark {
    background-color: #CC9C6C;
    background: url('/images/tiles/WoodFine0003_preview.jpg') repeat;
}

.ct-white-square-sandsnow {
    background-color: #FCCC9C;
    background: url('/images/tiles/Snow.jpg') repeat;

}

.ct-black-square-sandsnow {
    background-color: #CC9C6C;
    background: url('/images/tiles/Slush.jpg') repeat;
}

.ct-white-square-crackedstone {
    background-color: #FCCC9C;
    background: url('/images/tiles/Cracked Pomegranate.jpg') repeat;

}

.ct-black-square-crackedstone {
    background-color: #CC9C6C;
    background: url('/images/tiles/Lightning Rock.jpg') repeat;
}

.ct-white-square-granite {
    background-color: #FCCC9C;
    background: url('/images/tiles/White Beach Granite.jpg') repeat;

}

.ct-black-square-granite {
    background-color: #CC9C6C;
    background: url('/images/tiles/Polar Granite.jpg') repeat;
    background: url('/images/tiles/Brown Pearl Granite.jpg') repeat;
}

.ct-white-square-marblegreen {
    background-color: #FCCC9C;
    background: url('/images/tiles/Light Swirl Marble.jpg') repeat;

}

.ct-black-square-marblegreen {
    background-color: #CC9C6C;
    background: url('/images/tiles/Onix Pina.jpg') repeat;
    background: url('/images/tiles/Sea Green Marble.jpg') repeat;
}




.ct-from-square {
    background:none;
    background-color: #9F9FFF;
}

.ct-to-square {
    background:none;
    background-color: #4444FF; 
    background-color: #56719E;
    background-color: #4651FF;
    background-color: #4444FF;
    background-color: #557FFF;
}

.ct-over-valid-square {
    background:none;
    background-color: green;
}

.ct-over-invalid-square {
    background:none;
    background-color: red;
}



.ct-nav-buttons
{ 
  padding-bottom: 7px;
  padding-top: 7px;
  text-align:left;
}

.ct-back,.ct-forward,.ct-start,.ct-end,.ct-play,.ct-stop
{ 
  vertical-align: middle;
  display: inline;
}

.ct-mainline-commentary
{ 
  padding-left: 15px;
}

.ct-board-move-mainline,.ct-board-move-variation
{ 
    cursor: pointer;
}

.ct-board-move-mainline
{ 
  font-weight: bold;
}

.ct-board-move-comment
{ 
}

.ct-board-clickable-comment
{ 
    cursor: pointer;
}

.ct-board-move-variation
{ 
}

.ct-board-move-current
{ 
  color: red;
}

.ct-board-move-dottedempty 
{
    display:none;
}

.ct-subopt-move-score
{ 
  color: #8AAFEF; 
}

.ct-bad-move-score
{ 
  color: #FF2020;
}

.ct-opt-move-score
{ 
 color: #8AAFEF; 
}

.pgn-parser-error
{
    background-color: red;
    color:white;
    border:2px solid #363A3D;
}

#board-position-moves
{
    overflow:auto;
    padding-top:10px;
    height:auto;
    /*min-width: 210px;
    width: auto !important;*/
    width:210px;

}

#board-moves
{
    overflow:auto;
    height:400px;
    /*min-width: 210px;
    width: auto !important;*/
    width:210px;

}


.ct-top-to-move-outer
{
   border: 1px solid transparent; 
}

.ct-top-to-move-inner
{
    width:15px;
    height:15px;
    margin:1px;
    border: 1px solid green;
}

.ct-bottom-to-move-outer
{
    border: 1px solid transparent;
    position:absolute;
    left:0px;
    bottom:0px;
}

.ct-bottom-to-move-inner
{
    margin:1px;
    width:15px;
    height:15px;
    border: 1px solid green;
}

.ct-to-move-active
{
   border: 1px solid red;
}

.ct-source-square
{
    background:none;
    background-color:yellow;
    background-color:#EEEE77;
    background-color:#EEEEBB;
    background-color:#FFDD88;
    background-color:#FFEE99;
    background-color:#AAEE88;

}


.ct-dest-square
{
    background-color:green;
}

.ct-forum-pgn
{

}

.ct-forum-pgn-board
{
    float:left;
}

.ct-forum-pgn-moves
{
    height:264px;
    width:280px;
    overflow: auto;    
    border:1px solid white;
    padding:3px;
    margin-top:4px;
}

.ct-forum-pgn-moves-and-headers
{
    float:left;
}

.ct-forum-pgn-headers
{
    border:1px solid white;
    width:280px;
    padding:3px;
}

.ct-forum-pgn-moves .ct-board-move-comment
{
    color:#A1C4E8;
}