/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start my horrible css */

body {
  font-family:
    "Helvetica Neue",
    "HelveticaNeue",
    "Helvetica",
    "Arial",
    "Lucida Grande",
    "sans-serif";
}

h4 {
  color: #666;
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 3px;
  line-height: 1.2;
}

p {
  color: #181818;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 12px;
  line-height: 1.2;
}

p em{
  color: #181818;
  font-size: 10px;
  font-size: 1.0rem;
  margin-bottom: 10px;
  line-height: 1.0;
}

#page-box {
  width: 960px;
  padding-top: 10px;
  margin: 0 auto;
}

#header-box {
  position: relative;
  background-color: #000;
  border-bottom: 4px solid #2A85E8;
  padding-bottom: 10px;
}

#header-box h1 {
  width: 960px;
  margin: 0 auto;
  color: #fff;
  padding-top: 10px;
  color: #97c9ed;
  font-size: 2.0em;
}

#header-box p {
  font-size: 0.8em;
  color: #fff;
  position: absolute;
  left: 900px;
  top: 20px;
}

#header-box p a {
  color: #97c9ed;
  text-decoration: none;
}

#content-box {
  width: 660px;
  float: left;
}

#google-ads {
  width: 300px;
  float: right;
}

#intro-box h4 {
  padding: 10px 10px 10px 0;
}

.book-box {
  padding: 0 10px 10px 10px;
  border-left: 2px solid #2A85E8;
}

.book-box h4 a {
  color: #2A85E8;
  text-decoration: none;
}

footer {
  padding: 10px 0;
  display: block;
  width: 660px;
  float: left;
}

footer a {
  display: block;
}
