{% extends "reti-base.html" %}
{% block title %}
30. A Complicated Position - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>30. A Complicated Position</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/SuNKWqae?theme=blue" frameborder=1></iframe>

<p>Under the above title Breyer some years ago published an article in which he
tried to prove that 1. d4 was better than 1. e4.</p>

<p>Among the moves with which the old masters were in the habit of imitating each
other were the opening moves. They began the game with 1. e4, e5; not after
individual mature reflection, but simply because so many hundreds before them
had without considering made the same moves following in the footsteps of
hundreds of others.</p>

<p>It was that which endangered mistrust in the younger generation of masters and
they criticised accordingly.</p>

<p>Formerly, the opening was defined as that part of the game in which the pieces
were brought into play. After establishing that in the opening with every move
a plan should be furthered, that definition of the opening came to lose its
significance.</p>

<p>What we now seek to do in every position is to play on a plan, founded on
positional positional considerations. It has been known for a long time that
the centre is the most important part of the board because, from it, there is
the prospect of moving pieces quickly in all directions, whenever necessary.</p>

<p>White therefore plays according to the plan, whereby advancing a centre pawn
two squares as his first move, he endeavours to seize as much space as
possible in the centre. As this volume is not intended to be a book of
instruction, I do not propose to compare, according to their respective
values, the moves 1. e4 and 1. d4. On the other hand I propose now to give a
short critical disquisition on the usual counter moves: 1...e5 and 1...d5, and
in the course of it to be as general as possible.</p>

<p>We start with the proposition that White, in the nature of things the attacker
in the opening, endeavours to seize an advantage; whilst Black at that stage
is contented if he secures an equal game. Seeing that the definition of the
opening as being a struggle for the centre goes beyond the usual conceptions
of average chess, let us for the purpose of comparison consider a familiar
instance of the struggle, arising from an attack on a castled position. We
will assume that White wants to attack Black&#8217;s King&#8217;s position, the latter
having castled on the King&#8217;s side. White as a rule tries to march against the
castled position - exactly in the same way as in the opening position he
commences an attack against the centre of the board by pushing forward with
his centre pawns. Let us see how Black acts on defence of his castled
position. He will do his utmost to prevent the opening of files: therefore he
will not move pawns on to squares  from which they cannot well depart, or
where, to use a phrase adapted to the game and used by Dr. Tarrasch, they
offer marks or targets for the attack. Black, therefore, will do all he can to
avoid h6 because he fears g4-g5 and the opening of the Knight&#8217;s file. Just as
little will he play g6 on account of White&#8217;s h4-h5.</p>

<p>A similar mark for an attack in the centre after 1. e4, e5; or 1. d4, d5; is
found in the Black pawn at e5 or d5 respectively. White, who before that move
can conceive but a vague plan to seize in the centre the largest possible
amount of terrain, is, after 1. d4, d5; immediately in a position to conceive
a plan in greater detail and is afforded thereby a much easier attacking game.
He can, for example, take advantage of the point of attack at d5 so as to open
the Bishop&#8217;s file for himself with 2. c4. And, as in the opening of the game
(see § 5), the advantage lies with the better developed side, so in this case
it is in favour of White who  has the first move and who has from the start
one move or, to be more mathematically accurate, half a move to the good. The
most recent conception of openings in the case of the second player, in
conformity with the ideas just set out, is that Black, by strengthening his
position in the centre, will aim at preventing White&#8217;s furthering his plan of
attack. We find, therefore, in the daily bulletin of the latest tournaments
the following opening of Bogoljubow&#8217;s</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/FG0ttP7Q?theme=blue" frameborder=1></iframe>

<p>or in the event of 1...d5 being played</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/FG0ttP7Q?theme=blue" frameborder=1></iframe>

<p>The reader will now still better appreciate why it is not surprising that the
most modern masters are styled &#8220;hyper-modern&#8221; on account of their views having
the effect of bringing into discredit the moves handed down from olden times,
viz., 1...e5; and 1...d5; upon which no serious doubt had ever before been
cast.</p>
<p>The above brief explanations should suffice to bring home to the reader how
difficult the correct handling of the openings is, if one is not content with
playing the first moves according to the book, which as a rule sets out,
without any critical observations, what other people have played. Chess lovers
craving for knowledge and always anxious to hear about play at tournaments,
have often said to me &#8220;The opening moves of the game were presumably played
very quickly, because at that time nothing is really going on,&#8221; and I have had
to answer them by saying, &#8220;The opening is the hardest part of the game: for it
is very difficult at that point to get to know what is really going on.&#8221;</p>

{% endblock %}
