{% extends "reti-base.html" %}
{% block title %}
31. Alekhin - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>31. Alekhin</h1>

<p>When Tschigorin died in 1908 chess activity in Russia had reached its highest
point. Preeminent was Rubinstein whose distinction we have already sufficiently
appraised in these pages. Quite a distinctive position was assumed by
Niemzowitch. He had very exceptional talent for combinations, and besides
endeavoured to build up still further chess strategy and technique. In that
process he moved in the paths of Steinitz above described, and sought to
expand his methods in detail. There was also at the time the gifted
Dus-Chotimirski, who had but little training, and the less original but very
methodical Znosko-Borovski, and many others.</p>

<p>In that year Alekhin came into prominence. He had then just reached his
seventeenth year and was, at first, merely one of the many types of Russian
masters. He is, even for the hustling times of to-day, an incredibly nervous
man, always restless, even when playing chess. The dry methodical process, of
which the chess technique then consisted, did not suit him. The positional
consideration at that time was static not dynamic. Then it was that in every
position the best move and not the deepest and most far-reaching plan was
sought for. In such conditions his inner unrest could not be pent up. So he
neglected strategy but produced something original in the realm of
combination. In general in a combination the first surprising and beautiful
move is the sacrifice.</p>

<p>With Alekhin, it is mostly the final move that takes his opponent&#8217;s breath
away. He beats his opponents by analysing simple and apparently harmless
sequences of moves in order to see whether at some time or another at the end
of it an original possibility, and therefore one difficult to see, might be
hidden. The striving not to allow himself to be deceived by the apparent
simplicity of a position and by obvious moves led him slowly in the new
direction, whilst his fellow-countrymen, Rubinstein and Niemzowitch, by
treading the old well-known paths, tried to approach truth in chess. Therefore
Rubinstein and Niemzowitch came to be held up as great strategists and nobody
dared to compare Alekhin, the secessionist, with them. When Alekhin divided
with Niemzowitch the first prize at the all-Russian tournament of 1914,
everybody said that he had been lucky. Alekhin&#8217;s friendship with Capablanca,
who went to Russia in 1914, marked a turning point in his chess career. During
his intercourse with Capablanca he learnt the latter&#8217;s new technique, the
lively dynamics of which suited Alekhin&#8217;s disposition, and added a methodical
groundwork to his originality, whereon he was able to build still further.</p>

<p>The following game is very characteristic of the new style of dealing with the
openings, showing, as it does, the neglect of development as opposed to the
carrying out of a positional scheme conceived in the beginning. It was not
only the deciding game for the first prize, but also a deciding one in the
struggle between the old and the new methods.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/WdytYtHl?theme=blue" frameborder=1></iframe>

{% endblock %}
