{% extends "reti-base.html" %}
{% block title %}
32. Alekhin - Fahrni - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>32. Alekhin - Fahrni</h1>


<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/4mRVdCgD?theme=blue" frameborder=1></iframe>

{% endblock %}
