{% extends "reti-base.html" %}
{% block title %}
38. Bogoljubow - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>38. Bogoljubow</h1>

<p>Bogoljubow&#8217;s life so far has represented a path that leads from complications
to a calm activity. Originally intended for a Russian priest, Bogoljubow could
not tolerate the dissonance between the external vocation of life and the
inner call; and without any reputation or certain prospect for the future, he
gave up the ordinary foundation of material existence and chose chess as his
calling.</p>

<p>He first took part in an international tournament at Mannheim in 1914. At the
beginning of the war the tournament had to be broken off, and Bogoljubow was
interned with other Russian chess players, including Alekhin; first in
Baden-Baden and next in Triberg. In order to divert his thoughts from the
position in which he found himself, he employed his time, during his enforced
leisure, in evolving, by his own independent thought, an understanding of
chess and its groundwork which could be developed merely on the basis of what
was then the accepted theory of the game and of the openings; and being
stimulated by his intercourse with Alekhin he turned out, after the war, to be
one of the first masters, and an eloquent testimony of his strength is to be
found by the expert in his games.</p>

<p>On the surface his games have some resemblance to those of Alekhin. The games
of both appear to be very complicated. But the complications flow from
different sources.</p>

<p>For example, Bogoljubow has not the specific chess talent of Alekhin, and
cannot shake surprises out of his sleeve. He does not create complications for
sheer delight in them. His leaning is towards simplicity, but bot like
Rubinstein, who tries in every case to avoid the possibilities of intricacies.
Bogoljubow rather exerts himself to obtain a grasp of the difficult positions,
so that they may become simple to him. Alekhin likes to extract surprises from
simple positions. Bogoljubow tries to find in complicated situations a way by
which everything is made to appear clear. As we have said before, Bogoljubow
has not that great gift for chess possessed by Alekhin, but he is a true
artist who has devoted his intellect to the game.</p>

<p>Particularly characteristic of Bogoljubow&#8217;s style is his method of employing
an attack on one wing as a preparation for effecting a decision on the other.
For example, by preparing an attack in the Queen&#8217;s wing, he induces his
opponent to set up such a grouping of pieces as will not permit of a
sufficient defence on King&#8217;s side.</p>

<p>The following position offers a very simple example:</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/KuXxSeq0?theme=blue" frameborder=1></iframe>

{% endblock %}
