{% extends "reti-base.html" %}
{% block title %}
39. Bogoljubow - Reti - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>39. Bogoljubow - Reti</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/Dv1WxrD9?theme=blue" frameborder=1></iframe>

{% endblock %}
