{% extends "reti-base.html" %}
{% block title %}
40. Bogoljubow - N.N. - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>40. Bogoljubow - N.N.</h1>

<p>The following game was played by Bogoljubow against a well-known chess master
at a confectioner&#8217;s in Stockholm, December 1919, the object being the
investigation of Alekhin&#8217;s variation of the French game (cf. § 31, game
Alekhin - Fahrni).</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/o4vJ6KAd?theme=blue" frameborder=1></iframe>

{% endblock %}
