{% extends "reti-base.html" %}
{% block title %}
33. Bogoljubow - Alekhin - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>33. Bogoljubow - Alekhin</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/zWD8rlzn?theme=blue" frameborder=1></iframe>

{% endblock %}
