{% extends "reti-base.html" %}
{% block title %}
34. Breyer - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>34. Breyer</h1>

<p>In Bratislava there appeared for some months a journal called Czellini Sport
(sport for the mind). If a person were about to take a long journey he readily
bought a copy, for with the study of a short chapter he could pass the time
occupied in the whole journey, so difficult was each line as a mental
exercise. For example, in one number appeared a love letter which when read
letter for letter backwards disclosed the original. There were keys for the
discovery of secret codes and many other things of that description. There was
also a chess rubric, the contents of which were peculiar.</p>

<p>For example, the following problem. White to play: who wins? The position was
complicated: all the pieces on both side were <em>en prise</em>, and only after a
long study could it be seen that White was bound to have the advantage. Yet
that was not the correct solution. On the contrary, what was apparently
incredible could be proved, namely, that in the last fifty moves no piece had
been taken and no pawn could have been moved. Therefore according to the rules
of chess it was a drawn position. The sole editor of this paper, in which were
to be found only original contributions, was Julius Breyer. And for that man,
so sagacious that the finest <em>finesses</em> were not fine enough for him, and who
at a glance saw through the most complicated conditions and had moreover at
his command an untiring and intellectual capacity for work, there was only one
art. In the domain of that art he worked not only with his mind, but he cast
his whole personality into it. That domain was chess.</p>

<p>In his booklet &#8220;The Tree of Chess Knowledge&#8221; Dr. Tartakower describes the
style of the &#8220;Hyper-moderns.&#8221; He has clearly Breyer in particular before his
eyes.</p>

<p>This lucid sketch contains the following: &#8220;Chess can also show its cubism. Its
chief representatives, Alekhin, Bogoljubow, Breyer and Rèti, gained,
especially in the year 1920, splendid successes in their contests with the
tried big men of the old school like Rubinstein, Tarrasch, Maroczy and others,
and thereby attracted the attention of the whole chess world to the most
modern school. The tenets of the latter school had, till then, indicated a
state of secession. They involved not only plans which had never disclosed
themselves to us before: schemes which gave to the games an unhealthy stamp:
moves which scoffed at any endeavour to obtain freer development of pieces,
but also, finally, methods which seek salvation in their malignant and endless
storing up of latent energy, and which in all earnestness were held up to us
in the light of science. Through these methods the disclosure of secrets of
hundreds of years&#8217; standing is promised to us. &#8216;Not to build up rather to
obstruct a position&#8217; is the watchword there given out. The idols of the old
school are smashed: the most favourite openings appear to be refuted;
compromising the four Knights opening and above all (as Breyer preaches in one
of his published treaties) &#8216;After the first move 1. e4 White&#8217;s game is in the
last throes&#8217;</p>

<blockquote>
    <div><em>&#8220;Credo quia absurdum&#8221;</em></div>
</blockquote>

<p>At the end of the year 1921, the chess world lost in Breyer not only a chess
master of the first rank, but a pioneer, who by his profound investigations,
destructive of old principles, effected reforms. A new Steinitz was all too
soon snatched from us. Breyer had set out his views on theory in numerous
treaties and analysis of games, which appeared in the Hungarian papers. In
close detail he analysed the games for the world championship, between
Capablanca and Lasker. I give the following as an example.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/ZpJ6vYT2?theme=blue" frameborder=1></iframe>

<p>In this position white went on 17. Bxd5, Nxd5; 18. Bxe7, Nxe7. Capablanca had
then, having regard to the isolated pawn at d4, a slight positional advantage
and won by means of his superior technique. As Breyer has proved Lasker could
instead have gained a forced advantage. The combination was overlooked by both
the masters as well by numerous analysts. The reason is to be sought in the
fallacious earlier chess technique. Since the introductory move of the winning
combination, namely, Bxd5!! loses time and develops Black&#8217;s position: it was
almost an impossibility for a chess player who thought on the old principles
to discover this combination.</p>

<p>Breyer analysis is as follows:</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/MZ5Il3Xa?theme=blue" frameborder=1></iframe>

{% endblock %}
