{% extends "reti-base.html" %}
{% block title %}
35. Breyer - Dr. Esser - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>35. Breyer - Dr. Esser</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/WJyOkbPL?theme=blue" frameborder=1></iframe>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/je0B6Ofg?theme=blue" frameborder=1></iframe>

<p>
  <b>Missing paragraph</b>
</p>
{% endblock %}
