{% extends "reti-base.html" %}
{% block title %}
37. Breyer - Reti - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>37. Breyer - Reti</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/Lh0igt48?theme=blue" frameborder=1></iframe>

{% endblock %}
