{% extends "reti-base.html" %}
{% block title %}
36. Breyer - Havasi - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>36. Breyer - Havasi</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/Lh0igt48?theme=blue" frameborder=1></iframe>

{% endblock %}
