{% extends "reti-base.html" %}
{% block title %}
41. Bogoljubow, Reti, Spielmann - Englund, Jacobson, Nyholm and Olson - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>41. Bogoljubow, Reti, Spielmann - Englund, Jacobson, Nyholm and Olson</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/S7lhYNp1?theme=blue" frameborder=1></iframe>

{% endblock %}
