{% extends "reti-base.html" %}
{% block title %}
42. Tartakower - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>42. Tartakower</h1>

<p>This work would be incomplete did we not mention this master, who is not, so
to speak, directly related to the newest school, but whose style of play shows
a close relationship with that of the youngest masters. In order to present
the connecting, and also the distinguishing features of Tartakower&#8217;s play, I
shall have to give here a short retrospect. In Anderssen&#8217;s time positional
play had been but little developed. He who was better at making combinations
was, on that account, as a rule the better player. The more gifted masters
sought to bring the game in the quickest manner into the whirlpools of
combination play. Then came the development of positional play, especially
through Steinitz. Those who had studied this Steinitz science were more than a
match for those who had not done so, even though the latter might be more
generally gifted. This led to the monotonous play of the &#8216;90&#8217;s and of the turn
of the century. Even Tschigorin&#8217;s genius succumbed, in the long run,  to the
dry play of Steinitz&#8217;s disciples, who had caught the great master&#8217;s technical
artistic touches without possessing his creative powers.</p>

<p>Tartakower, from the beginning of his career, moved in the direction of
Tschigorin; not that he had doubted the correctness of the principles, or the
greatness of the acknowledged great master of the time. Quite the contrary. As
a young, enthusiastic chess lover, he retained the deepest veneration for the
possessors of names so renowned, but the dry play was opposed to his nature.
Thus we see in his instinctive resistance to the then prevailing style of
play, a premonition of the later rise of the modern school. It is remarkable
that Dr. Tartakower had already then got into the habit of avoiding the
replies 1...e5 to 1. e4; 1...d5 to 1. d4. Then came the youngest of all. They
contested a style which did not stand for personality, but rather for a
conglomeration of rules to be mentally acquired, and they contested it, not by
despising these rules, but by deeper investigations of their own. Above all,
they perceived that every chess principle meant only an approximation, and
that no rules of universal application could exist. The Steinitz conceptions
are to the youngest masters no longer the alpha and omega of chess, but
elements for combination, just as in Anderssen&#8217;s time the different mating
positions and double threats, etc., were. To express it not quite accurately,
but popularly: before Steinitz, combinations were sought after: after
Steinitz, a dry positional game was played: the modern men have positional
plans, and combine positionally, and as the moderns had disturbed the legend
of inviolability of Tarrasch, Maroczi, etc., a new era for Tartakower drew
near. For he saw that his striving against the increasing shallowness of the
game was no longer without prospect: therefore Tartakower, a child of his
time, continued to perfect his chess technique without regarding it, however,
as the essence of his game, and thus, by a different path, he gradually
approached the latest experts.</p>

<p>An example of what has just been stated is found in the following game
containing many moves which deviate from the usual routine.</p>
<p>His opponent, Spielmann, secured for himself centre pawns and, with good
development, the open &#8216;c&#8217; file. At first sight he had a good
game. Tartakower blocked his &#8216;c&#8217; Pawn by 8. Nc3 despite the rule obtaining in
the &#8216;nineties that in the Queen&#8217;s pawn opening the Queen&#8217;s Bishop&#8217;s pawn
should not be blocked. He castled on the Queen&#8217;s side (although Black had
opened the &#8216;c&#8217; file), and then he followed consequentially his idea, which, in
conjunction with the open Rook&#8217;s file, effected the destruction of Black&#8217;s
centre.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/Cb3TpDVG?theme=blue" frameborder=1></iframe>

{% endblock %}
