{% extends "reti-base.html" %}
{% block title %}
43. The Youngest Masters - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>43. The Youngest Masters</h1>

<p>He who win inward struggles and frequent doubtings has co-operated in
elaborating a new school of chess, experiences a remarkable feeling when he
realises how the youngest masters, without trouble, and almost as a matter of
course, accept and make use of recent technical acquisitions as if such
acquisitions had been merely presented or handed down to them. Amongst these
youngest masters we have Grünfeld of Vienna and with him the Dutch master Euwe
and Sämisch of Berlin.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/SQTLJCHm?theme=blue" frameborder=1></iframe>

{% endblock %}
