{% extends "reti-base.html" %}
{% block title %}
29. The Hypermodern Style - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>29. The Hypermodern Style</h1>

<p>Thus did Dr. Tartakower, the prominent chess master and writer on the game,
describe the style of the youngest masters - Alekhin, Bogoljubow and Breyer.
That designation is not to be deemed unlimited praise; but still less censure.
For Tartakower himself in later years has approached that style.</p>

<p>As we younger masters learnt from Capablanca&#8217;s method of play, by which each
move is to be regarded as an element of a scheme, that no move is to be made
for itself alone (contrary sometimes to Morphy&#8217;s principle that every move
should have its concomitant development), we began to see that moves formerly
considered self-understood and made, as it were, automatically by every good
player, had to be discarded.</p>

<p>As a special instance of the general ideas of the moderns I start by stating
that a difference in principle exists between scientific rules as we know them
in connection with Physics and Mathematics and the so-called chess laws. That
difference becomes clear when we consider that Nature&#8217;s laws prevail under all
conditions, while the universal strategical chess principles are maxims of
treatment which may, perhaps, in the majority of instances, find a practical
application, yet, in some cases, are better not resorted to. Just as in life
no universal rules of conduct can obtain, and just the man who invariably acts
in accordance with the most approved principles will not perforce become
great, so it is with chess principles.</p>

<p>What is really a rule of chess? Surely not a rule arrived at with mathematical
precision, but rather an attempt to formulate a method of winning in a given
position or of reaching an ultimate object, and to apply that method to
similar positions. As, however, no two positions are quite alike, the so
called rule, if applied to an apparently similar position, may possibly be
wrong, or at least as regards that particular position, there may exist a more
suitable or effectual method of play. It is the aim of the modern school not
to treat every position according to one general law, but according to the
principle inherent in the position. An acquaintance with other positions and
the rules applicable to the treatment thereof is of great use for the purpose
of analysing and obtaining a grasp of the particular position under
consideration. Chess principles as a whole can be viewed therefore as maxims
which it is often, or perhaps mostly, but certainly not always advantageous to
follow. Every problem composer, for instance, is able to compose a problem for
every rule in which the key move leads to the quickest solution and is the
best move and which yet may be opposed to that rule. In every game - indeed in
the best of the earlier games - we come across moves that seem self-evident
and which the master of routine made without reflexion, because such moves
were founded on rules of such long standing as to have become part of that
master&#8217;s flesh and blood. According to the modern school of players, extreme
deliberation is called for when one plays independently of rules and on the
lines of one&#8217;s own particular plan; and the source of the greatest errors is
to be found in those moves that are made merely according to rule and not
based on the individual plan or thought of the player. Games of the modern
school seem to its critics to have the appearance of quaintness and
inconsequence. The players if the modern school move quickly where others stop
to think and they instinctively avoid making moves which have hitherto been
considered as obvious. It is not my intention to lay down here that principles
are superfluous (I have already demonstrated their usefulness), but I do want
it to be made sufficiently clear, that chess rules must be subjected to
careful consideration in each particular instance of their intended
application.</p>

<p>The Hyper-moderns are the greatest opponents of routine play.</p>

{% endblock %}
