<script type="text/javascript" src="/static/js/pgnyui.js"></script>
<script type="text/javascript" src="/static/js/pgnviewer.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.pjax.js"></script>
<script type="text/javascript" src="/static/js/helpers.js"></script>
<script type="text/javascript" src="/static/js/booknav.js"></script>
