{% extends "reti-base.html" %}
{% block title %}Preface{% endblock %}
 - Modern Ideas in Chess
{% block content %}
<h1>Preface</h1>

<p>If we compare the games of chess of rexent years with the older ones, we
shall find, even with a superficial consideration of the games handed down to
us from olden times, absolutely different openings and unusual contours of
positions. New ideas rule the game and have considerable similarity with the
ideas of modern art. As art has turned aside from naturalism, so the ideal of
the modern chess pmaster is no longer what was called "sound play" or
development in accordance with nature. That is to say in accordance with nature
in the most literal sense; for that old kind of development was directly copied
from nature.</p>

<p>We believe today that in the execution of human ideas deeper possibilities
lie hidden than in the works of nature: or to put it more accurately, that at
least for mankind the human mind is of all things the greatest that Nature has
provided. We are, therefore, not willing to imitate nature and want to imbue
our own ideas with actuality. Those pioneers ins art, who are difficult to
understand, are acknowledged by the few and jeered at by the many. Chess is a
domain in which criticism has not so much influence as in art; for in the
domain of chess the results of games decide, ultimately and finally. On that
account '<em>Modern Ideas in Chess</em>' will prehaps be of interest for a more
extended circle. The artists who, in spite of derision and enmities, follow
their own ideas, instead of imitating nature, may in times of doubt, from which
no creative man is free, know, and cherish hope therefrom, that in the narrow
domain of chess these new ideas in a struggle with the old ones are proving
victorious.</p>
<p>I have in this volume attempted to indicate the road along which chess has
travelled; from the classicism of Anderssen, by way of the naturalism of the
Steinitz school, to the individualistic ideas of the most modern masters.</p>

{% endblock %}
