{% extends "base.html" %}

{% block book_title_link %}
<h1><a href="/capablanca-cf/chapter1/some_simple_mates.html">Chess Fundamentals</a> <em>by</em> José Raúl Capablanca</h1>
{% endblock book_title_link %} 

{% block book_navigation %}
<li><a class="chapter" href="#">Chapter I. First Principles: Endings, Middle-game and Openings</a>
    <ul class="sectionList">
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/some_simple_mates.html">1. Some simple mates</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/pawn_promotion.html">2. Pawn promotion</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/pawn_endings.html">3. Pawn endings</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/some_winning_positions.html">4.  Some winning positions in the middle-game</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/relative_value_pieces.html">5. Relative value of the pieces</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/general_strategy_opening.html">6. General strategy of the opening</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/control_centre.html">7. Control of the centre</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter1/traps.html">8. Traps</a></li>
    </ul>
</li>
<li><a class="chapter" href="#">Chapter II. Further Principles in End-Game Play</a>
    <ul class="sectionList">
        <li><a class="pjax-href" href="/capablanca-cf/chapter2/cardinal_principle.html">9. A cardinal principle</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter2/classical_ending.html">10. A classical ending</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter2/obtaining_passed_pawn.html">11. Obtaining a passed pawn</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter2/find_pawn_first_queen.html">12. How to find out which pawn will be first to queen</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter2/the_opposition.html">13. The Opposition</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter2/relative_value_knight_bishop.html">14. The relative value of Knight and Bishop</a></li>
    </ul>
</li>
<li><a class="chapter" href="#">Chapter III. Planning a Win in the Middle-Game Play</a>
    <ul class="sectionList">
        <li><a class="pjax-href" href="/capablanca-cf/chapter3/attacking_without_knights.html">17. Attacking without the aid of the knights</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter3/attacking_with_knights.html">18. Attacking with knights as a prominent force</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter3/winning_indirect_attack.html">19. Winning by indirect attack</a></li>
    </ul>
</li>
<li><a class="chapter" href="#">Chapter IV. General Theory</a>
    <ul class="sectionList">
        <li><a class="pjax-href" href="/capablanca-cf/chapter4/the_initiative.html">20. The initiative</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter4/direct_attacks_en_masse.html">21. Direct attacks "en masse"</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter4/force_threatened_attack.html">22. The force of the threatened attack</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter4/relinquishing_the_initiative.html">23. Relinquishing the initiative</a></li>
        <li><a class="pjax-href" href="/capablanca-cf/chapter4/cutting_off_pieces.html">24. Cutting off pieces from the scene of action</a></li>
    </ul>
</li>
<li><a class="chapter" href="#">Chapter V. End-Game Strategy</a>
    <ul class="sectionList">
    </ul>
</li>
<li><a class="chapter" href="#">Chapter VI. Further Openings and Middle-Games</a>
    <ul class="sectionList">
    </ul>
</li>
{% endblock book_navigation %}

{% block full_pgn %}
<br />
<h4><a class="selected" href="/full/capablanca-cf.html">Download all PGNs in a single file</a></h4>
{% endblock full_pgn %}
