{% macro pgn(pgnfile, chapter, book) -%}

<script>
    MyPgnViewer(
    { boardName: "{{ pgnfile }}",
        pgnFile: '/static/pgn/{{ book }}/{{ chapter }}/{{ pgnfile }}.pgn',
        pieceSet: 'leipzig',
        pieceSize: 46
    }
    );
</script>

<div id="pgnGame" class="row display ">
    <div class="panel hide-on-phones">
        <div id="{{ pgnfile }}-container" class="seven columns"></div>
        <div id="{{ pgnfile }}-moves" class="five columns scroll"></div>
        <hr>
    </div>
    <div id="credits">
        <a href="/static/pgn/{{ book }}/{{ chapter }}/{{ pgnfile }}.pgn">Download PGN</a>
        <p>Credits to <a href="http://chesstempo.com">Chesstempo</a> for the PGN Viewer.</p>
    </div>
</div>
{%- endmacro %}
