{% extends "base.html" %}

{% block book_title_link %}
<h1><a href="/reti-mic/chapter1/combination.html">Modern Ideas in Chess</a> <em>by</em> Richard Rèti</h1>
{% endblock book_title_link %} 

{% block book_navigation %}
<li><a class="chapter" href="#">Preface</a>
<ul class="sectionList">
    <li><a class="pjax-href" href="/reti-mic/chapter0/preface.html">Preface</a></li>
</ul>
</li>
<li><a class="chapter" href="#">Chapter I. The Development of positional play</a>
<ul class="sectionList">
    <li><a class="pjax-href" href="/reti-mic/chapter1/combination.html">1. Combination</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter1/positional_play.html">2. Positional Play</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter1/paul_morphy.html">3. Paul Morphy</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter1/anderssen_morphy.html">4. Fourth Game in the Match - Anderssen - Morphy</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter1/the_opening.html">5. The Opening</a></li>
</ul>
</li>
<li><a class="chapter" href="#">Chapter II. Steinitz</a>
<ul class="sectionList">
    <li><a class="pjax-href" href="/reti-mic/chapter2/wilhelm_steinitz.html">6. Wilhelm Steinitz</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter2/steinitz_tschigorin.html">7. Steinitz - Tschigorin</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter2/close_positions.html">8. Close Positions</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter2/steinitz_macdonnell.html">9. Steinitz - MacDonnell</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter2/steinitz_blackburne.html">10. Steinitz - Blackburne</a></li>
</ul>
</li>
<li><a class="chapter" href="#">Chapter III. The Steinitz School</a>
<ul class="sectionList">
    <li><a class="pjax-href" href="/reti-mic/chapter3/siegbert_tarrasch.html">11. Siegbert Tarrasch</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/tarrasch_schlechter.html">12. Tarrasch - Schlechter</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/tarrasch_walbrodt.html">13. Tarrasch - Walbrodt</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/emanuel_lasker.html">14. Emanuel Lasker</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/marshall_lasker.html">15. Marshall - Lasker</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/tarrasch_lasker.html">16. Tarrasch - Lasker</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/americanism_in_chess.html">17. Americanism in Chess</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/blackburne_charousek.html">18. Blackburne - Charousek</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/pillsbury_tarrasch.html">19. Pillsbury - Tarrasch</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/carl_schlechter.html">20. Carl Schlechter</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter3/schlechter_john.html">21. Schlechter - John</a></li>
</ul>
</li>
<li><a class="chapter" href="#">Chapter IV. The Perfecting of Chess Technique</a>
<ul class="sectionList">
    <li><a class="pjax-href" href="/reti-mic/chapter4/storm_and_stress.html">22. Storm and Stress</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter4/akiba_rubinstein.html">23. Akiba Rubinstein</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter4/rubinstein_lasker.html">24. Rubinstein - Lasker</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter4/an_old_question.html">25. An Old Question</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter4/capablanca.html">26. Capablanca</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter4/capablanca_amateur.html">27. Capablanca - Amateur</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter4/capablanca_n_n.html">28. Capablanca - N.N.</a></li>
</ul>
</li>
<li><a class="chapter" href="#">Chapter V. New Ideas</a>
<ul class="sectionList">
    <li><a class="pjax-href" href="/reti-mic/chapter5/the_hypermodern_style.html">29. The Hypermodern Style</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/a_complicated_position.html">30. A Complicated Position</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/alekhin.html">31. Alekhin</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/alekhin_fahrni.html">32. Alekhin - Fahrni</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/bogoljubow_alekhin.html">33. Bogoljubow - Alekhin</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/breyer.html">34. Breyer</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/breyer_dr_esser.html">35. Breyer - Dr. Esser</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/breyer_havasi.html">36. Breyer - Havasi</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/breyer_reti.html">37. Breyer - Reti</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/bogoljubow.html">38. Bogoljubow</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/bogoljubow_reti.html">39. Bogoljubow - Reti</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/bogoljubow_n_n.html">40. Bogoljubow - N.N.</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/consultation_game.html">41. Bogoljubow, Reti, Spielmann - Englund, Jacobson, Nyholm and Olson</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/tartakower.html">42. Tartakower</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter5/the_youngest_masters.html">43. The Youngest Masters</a></li>
</ul>
</li>
<li><a class="chapter"
    href="#">Chapter VI.  Conclusion</a>
<ul class="sectionList">
    <li><a class="pjax-href" href="/reti-mic/chapter6/reform_in_chess.html">44. Reform in Chess</a></li>
    <li><a class="pjax-href" href="/reti-mic/chapter6/symbolism_in_chess.html">45. Symbolism in Chess</a></li>
</ul>
</li>
{% endblock book_navigation %}

{% block full_pgn %}
<br />
<h4><a class="selected" href="/full/reti-mic.html">Download all PGNs in a single file</a></h4>
{% endblock full_pgn %}
