{% extends "capablanca-cf-base.html" %}
{% block title %}
7. Control of the centre - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>7. Control of the centre</h1>

<p>
    The four squares d4,e4, d5 and e5 are the centre squres, and control of
    these squares is called control of the centre. The control of the centre is
    of great importance. No violent attack can be succeed without controlling
    at least two of these squares, and possibly three. Many a manouvre in the
    opening has for ots sole object the control of the centre, which invariably
    ensures the initiative. It is well always to bear this in mind, since it
    will often be the reason for a series of moves which could not otherwise be
    properly understood.  As this book progresses I shall dwell more fully on
    this different points.
</p>

<p>
    At present I shall devote some time to openings taken at random and explain the
    moves according to general principles. The student will in that way train his
    mind in the proper direction, and will thus have less trouble in finding a way
    out when confronted with a new and difficut situation.
</p>

<h3>Example 18.</h3>

{{ game.pgn("example18", "chapter1", "capablanca-cf") }}

<p>
    The student should carefully study this example. It will show him that it
    is sometimes convenient to delay castling. I have given the moves as they
    come to my mind without following any standard book on openings. Whether
    the moves given by me agree or not with the standard works, I do not know,
    but at the present stage of this book it is not convenient to enter into
    discussion of mere tecnicalities which the student will be able to
    understand when he has become more proficient.
</p>

<h3>Example 19.</h3>

{{ game.pgn("example19", "chapter1", "capablanca-cf") }}

<p>
    Second, Black has been compelled to exchange a bishop for a knight, but as
    a compensation he has isolated White's a-pawn and doubled a pawn. (This, at
    such an early stage of the game, is rather an advantage for White, as the
    pawn is doubled towards the centre of the board.)
</p>

<p>
    These examples will show the practical application of the principles
    previously enunciated. The student is warned against playing pawns in
    preference to pieces at the begining of the game, especially h3/...h6 and
    a3/...a6, which are moves very commonly indulged in by beginners.
</p>
{% endblock %}
