{% extends "capablanca-cf-base.html" %}
{% block title %}
6. General strategy of the opening - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>6. General strategy of the opening</h1>

<p>
    The main thing is to <em>develop the pieces quickly</em>. Get them into
    play as fast as you can.
</p>
<p>
    From the outset two moves, 1. e4 or 1. d4, open up lines for the queen and
    a bishop. Therefore, theoretically one of these two moves must be the best,
    as no other first move accomplishes so much.
</p>

<h3>Example 17. </h3>

{{ game.pgn("example17", "chapter1", "capablanca-cf") }}

<p>
    First, the complete development of the opening has taken only seven moves.
    (Thus varies up to ten or twelve moves in some very exceptional cases. As a
    rule, eight should be enough.)
</p>

<p>
    Second, Black has been compelled to exchange a bishop for a knight, but as
    a compensation he has isolated White's a-pawn and doubled a pawn. (This, at
    such an early stage of the game, is rather an advantage for White, as the
    pawn is doubled towards the centre of the board.)
</p>

<p>
    Third, White by the exchange brings up a pawn to control the square d4,
    puts Black on the defensive, as experience will show, and thus keeps the
    initiative, an unquestionable advatage. (The value of the initiative is
    explained in section 20, page 39.)
</p>

<p>
    The strategical principles expounded above are the same for all the
    openings, only their tactical application varies according to the
    circumstnces.
</p>

<p>
    Before proceeding further I wish to lay stress on the following point which
    the student should bear in mind.
</p>

<p>
    <em> Before development has been completed no piece should be moved more
        than once, unless it is essential in order to obtain either material
        advantage or to secure freedom of action.  </em>
</p>

<p>
    The beginner should do well to remember this, as well as what has already
    been stated, viz: <em>bring out the knights before bringing out the
    bishops</em>.
</p>
{% endblock %}
