{% extends "capablanca-cf-base.html" %}
{% block title %}
3. Pawn Endings - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>3. Pawn Endings</h1>

<p>I shall now give a couple of simple endings of two Pawns against one, or
three against two, that the reader may see how they can be won. Fewer
explanations will be given, as it is up to the student to work things out for
himself. Furthermore, nobody can learn how to play well merely from the study
of a book; it can only serve as a guide and the rest must be done by the
teacher, if the student has one; if not, the student must realise by long and
bitter experience the practical application of the many things explained in
the book.</p>

<h3>Example 7. </h3>

{{ game.pgn("example7", "chapter1", "capablanca-cf") }}

<h3>Example 8. </h3>

{{ game.pgn("example8", "chapter1", "capablanca-cf") }}

<p>This ending, apparently so simple, should show the student the enormous
difficulties to be surmounted, even when there are hardly any pieces left,
when playing against an adversary who knows how to use the resources at his
disposal, and it should show the student, also, the necessity of paying strict
attention to these elementary things which form the basis of true mastership
in Chess.</p>

<h3>Example 9. </h3>

<p>In this ending White can win by advancing any of the three Pawns on the
first move, but it is convenient to follow the general rule, whenever there is
no good reason against it, of <em>advancing the Pawn that has no Pawn opposing
    it</em>. Thus we begin by</p>

{{ game.pgn("example9", "chapter1", "capablanca-cf") }}

<p>Having now seen the cases when the Pawns are all on one side of the board
we shall now examine a case when there are Pawns on both sides of the
board.</p>

<h3>Example 10. </h3>

<p>In these cases the general rule is to <em>act immediately on the
side where you have the superior forces</em>. Thus we have:</p>

{{ game.pgn("example10", "chapter1", "capablanca-cf") }}

{% endblock %}
