{% extends "capablanca-cf-base.html" %}
{% block title %}
2. Pawn Promotion - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>2. Pawn Promotion</h1>

<p>The gain of a Pawn is the smallest material advantage that can be obtained
in a game; and it often is sufficient to win, even when the Pawn is the only
remaining unit, apart from the Kings. It is essential, speaking generally,
that <em>the King should be in front of his Pawn, with at least one
    intervening square</em>.</p>

<p>If the opposing King is directly in front of the Pawn, then the game cannot
be won. This can best be explained by the following examples.</p>

<h3>Example 5. </h3>

{{ game.pgn("example5", "chapter1", "capablanca-cf") }}

<p>The whole mode of procedure is very important and the student should become
thoroughly conversant with its details; for it involves principles to be
taken up later on, and because many a beginner has lost identical positions
from lack of proper knowledge. At this stage of the book I cannot lay too much
stress on its importance.</p>

<p>In this position of the next example White wins, as the King is in front of
his Pawn and there is one intervening square.</p>

<p>The method to follow is to <em>advance the King as far as is compatible
    with the safety of the Pawn and never to advance the Pawn until it is
    essential to its own safety</em>.</p>

<h3>Example 6.</h3>

{{ game.pgn("example6", "chapter1", "capablanca-cf") }}

<p>This ending is like the previous one, and for the same reasons should be
thoroughly understood before proceeding any further.</p>

{% endblock %}
