{% extends "capablanca-cf-base.html" %}
{% block title %}
5. Relative value of the pieces - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>5. Relative value of the pieces</h1>

<p>
    Before going on to the general principles of the openings, it is advisable
    to give the student an idea of the proper relative value of the pieces.
    There is no complete and accurate table for all of them, and the only thing
    to do is to compare the pieces separately.
</p>

<p>
    For all general theoretical purposes the Bishop and the Knight have to be
    considered as of the same value, though it is my opinion that the Bishop
    will prove the more valuable piece in most cases; and it is well known that
    two Bishops are almost always better than two Knights.
</p>

<p>
    The Bishop will be stronger against Pawns than the Knight, and in
    combination with Pawns will also be stronger against the Rook than the
    Knight will be.
</p>

<p>
    A Bishop and a Rook are also stronger than a Knight and a Rook, but a Queen
    and a Knight may be stronger than a Queen and a Bishop.
</p>

<p>
    A Bishop will often be worth more than three Pawns, but a Knight very
    seldom so, and may even not be worth so much.
</p>

<p>
    A Rook will be worth a Knight and two Pawns, or a Bishop and two Pawns,
    but, as said before, the Bishop will be a better piece against the Rook.
</p>

<p>
    Two Rooks are slightly stronger than a Queen. They are slightly weaker than
    two Knights and a Bishop, and a little more so than two Bishops and a
    Knight. The power of the Knight decreases as the pieces are changed off.
    The power of the Rook, on the contrary, increases.
</p>

<p>
    The King, a purely <em>defensive</em> piece throughout the middle-game,
    becomes an <em>offensive</em> piece once all the pieces are off the board,
    and sometimes even when there are one or two minor pieces left. The
    handling of the King becomes of paramount importance once the end-game
    stage is reached.
</p>

{% endblock %}
