{% extends "capablanca-cf-base.html" %}
{% block title %}
4. Some winning positions in the middle-game - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>4. Some winning positions in the middle-game</h1>

<p>By the time the student has digested all that has been previously
explained, he, no doubt, is anxious to get to the actual game and play with
all the pieces. However, before considering the openings, we shall devote a
little time to some combinations that often arise during the game, and which
will give the reader some idea of the beauty of the game, once he becomes
better acquainted with it.</p>

<h3>Example 11. </h3>

<p>It is Black's move, and thinking that White merely threatens to play Qh6
and to mate at g7, Black plays 1 ... Re8, threatening mate by way of Re1.
White now uncovers his real and most effective threat, viz.:</p>

{{ game.pgn("example11", "chapter1", "capablanca-cf") }}

<p>This same type of combination may come as the result of a somewhat more
complicated position.</p>

<h3>Example 12. </h3>

<p>White is a piece behind, and unless he can win it back quickly he will
lose; he therefore plays:</p>

{{ game.pgn("example12", "chapter1", "capablanca-cf") }}

<p>These two examples show the danger of advancing the "g" Pawn one square,
after having Castled on that side.</p>

<h3>Example 13. </h3>

<p>This is another very interesting type of combination. Black has a Rook for
a Knight and should therefore win, unless White is able to obtain some
compensation immediately. White, in fact, mates in a few moves thus:</p>

{{ game.pgn("example13", "chapter1", "capablanca-cf") }}

<h3>Example 14. </h3>

<p>The same type of combination occurs in a more complicated form in the
following position.</p>

{{ game.pgn("example14", "chapter1", "capablanca-cf") }}

<h3>Example 15. </h3>

<p>A very frequent type of combination is shown in the following position.</p>

<p>Here White is the exchange and a Pawn behind, but he can win quickly thus:</p>

{{ game.pgn("example15", "chapter1", "capablanca-cf") }}

<h3>Example 16. </h3>

<p>This same type of combination is seen in a more complicated form in the
following position.</p>

<p>White proceeds as follows:</p>

{{ game.pgn("example16", "chapter1", "capablanca-cf") }}

<p>This combination is rather long and has many variations, therefore a
beginner will hardly be able to fathom it; but, knowing the type of
combination, he might under similar circumstances undertake and carry out a
brilliant attack which he would otherwise never think of.</p>

<p>It will be seen that all the combinations shown have for a
foundation the proper co-ordination of the pieces, which have all been brought
to bear against a weak point.</p>

{% endblock %}
