{% extends "capablanca-cf-base.html" %}
{% block title %}
1. Some Simple Mates - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>1. Some Simple Mates</h1>

<p>The first thing a student should do, is to familiarise himself with the
power of the pieces. This can best be done by learning how to accomplish
quickly some of the simple mates.</p>

<p>The ending Rook and King against King.</p>

<p><em>The principle is to drive the opposing King to the last line on any
    side of the board.</em></p>

<h3>Example 1. </h3>

{{ game.pgn("example1", "chapter1", "capablanca-cf") }}

<p>It has taken exactly ten moves to mate from the original position.</p>

<h3>Example 2.</h3>

{{ game.pgn("example2", "chapter1", "capablanca-cf") }}

<p>It has taken eleven moves to mate, and, under any conditions, I believe it
should be done in under twenty.</p>

<p>While it may be monotonous, it is worth while for the beginner to practice
such things, as it will teach him the proper handling of his pieces.</p>

<p>Now we come to two Bishops and King against King.</p>

<h3>Example 3.</h3>

{{ game.pgn("example3", "chapter1", "capablanca-cf") }}

<p>It has taken fourteen moves to force the mate and, in any position, it
should be done in under thirty.</p>  

<p>In all endings of this kind, care must be taken not to drift into a stale
mate.</p>

<p>In this particular ending one should remember that the King must not only
be driven to the edge of the board, but also into a corner. In all such
endings, however, it is immaterial whether the King is forced on to the last
rank, or to an outside file, e.g. h4 or a5, e8 or d1.</p>

<p>We now come to Queen and King against King.</p>

<p> As the Queen combines the power of the Rook and the Bishop, it is the
easiest mate of all and should always be accomplished in under ten moves. Take
the following position:</p>

<h3>Example 4.</h3>

{{ game.pgn("example4", "chapter1", "capablanca-cf") }}

<p>In this ending, as in the case of the Rook, the Black King must be forced
to the edge of the board; only the Queen being so much more powerful than the
Rook, the process is far easier and shorter.</p>

<p>These are the three elementary endings and in all of these the principle is
the same. In each case the co-operation of the King is needed. In order to
force a mate without the aid of the King, at least two Rooks are required.</p>

{% endblock %}
