{% extends "capablanca-cf-base.html" %}
{% block title %}
8. Traps - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>8. Traps</h1>

<p>
    I shall now give a few positions or traps to be avoided in the openings,
    and in which (practice has shown) beginners are often caught. 
</p>

<h3>Example 20.</h3>

{{ game.pgn("example20", "chapter1", "capablanca-cf") }}

<h3>Example 21.</h3>

{{ game.pgn("example21", "chapter1", "capablanca-cf") }}

<p>
    There are a good many other traps—in fact, there is a book written on traps
    on the chess board; but the type given above is the most common of all.
</p>

{% endblock %}
