{% extends "reti-base.html" %}
{% block title %}
23. Akiba Rubinstein - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>23. Akiba Rubinstein</h1>

<p>Rubinstein came into publicity with the men of storm and stress. But he was
not one of them. Judging by his style he may be accounted an Epigonus. He had
adopted the style of his period, that is to say the scientific chess style,
and he brought it to the highest stage of artistic perfection. The following
story of his youth, which is characteristic, was told to me by a chess votary
who hailed from Lodz. Rubinstein went to Lodz as a young Talmudic student. He
appeared one day in the Chess Café where Salwe was the undisputed master.
Rubinstein selected an opponent from amongst the non-aggressive players who
received the odds of a rook; and Rubinstein was one of the weakest of them.
For a long time he continued to be a regular patron of that Café and was in
the habit, during that period, of playing chess, showing a great passion for
the game without making any notable progress in it. There came a time,
however, when his visits ceased: he remained away some weeks. But on the day
he returned to the Café he went straight up to Salwe and offered him to play
him there and then. The unexpected happened. Rubinstein was victorious and
remained from that day next to Salwe, the stronger player in Lodz.</p>

<p>We have in Rubinstein an example, not of that fortunate talent which unfolds
itself and comes to the fore without any effort on the part of its possessor;
but we see in him the intellectual wrestler, who by solitary and deep
immersion of himself in his task becomes master of its difficulties.</p>

<p>Rubinstein is the type of man who loves only for his self-appointed task, a
veritable ascetic; who denies himself the slightest pleasure, that might have
any deleterious influences on his chess-playing capacity. He is never content
merely to have discovered a suitable or satisfying move. He goes on cudgelling
his brain until he finds the one and only move, that will satisfy  or
correspond with his grasp of a position. It must speak for itself that with
such excessive mental exertion moments of exhaustion must intervene. On that
account there is perhaps no master living with whom we get so often such
absolutely incomprehensible and big mistakes as with Rubinstein. On the other
hand he is the greatest artist amongst chess players. Whilst in all of
Schlechter&#8217;s beautiful games there is to be found playful delight comparable
to the joyful dance, and whilst with Lasker a dramatic struggle captivates the
onlooker, with Rubinstein all is refined tranquility; for with him in building
up his game the position given to every piece is the necessary one. It is not
matter of a fight for him, but the working out of a victory, and so his games
create the impression of a great structure from which not one stone dare be
shifted.</p>

<p>Rubinstein also said the last word on the technique of scientific chess:
especially by his method of developing pieces in close positions. We know what
Morphy&#8217;s principle was as regards open positions, namely, no unnecessary loss
of time; and with each move to develop further as quickly as possible.</p>

<p>We have also seen that in close positions it is not so much a question of
&#8220;time&#8221; but rather of certain permanent positional <em>land-marks</em>. But yet we are
left without any general principle as to how we should develop our pieces in
close positions until we have gained the well-known permanent positional
advantage. These gaps Rubinstein filled up not by writings on theory but by
his execution and his numerous novelties in the openings. He developed pieces
in close positions not so that they should be immediately effective and have
open lines, as was formerly done, but so that they should become ultimately
effective in the event of a possible break through, which should take place
with the dissolution of the close position.</p>
<p>We will in particular, examine a variation frequently occurring in the French
game.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/94Mu3ViD?theme=blue" frameborder=1></iframe>

<p>The King&#8217;s Bishop is at this point usually developed on what is apparently
the most effective square, vis. d3. Rubinstein, however, introduces the system
of development by g3 and Bg2. The development of the Bishop after g3 bearing
down on the well-protected pawn at d5 seems well-nigh purposeless. But the
position is a close one in which Black has little terrain. The only
possibility of a break through by Black is by means of c5; in order to be able
to play e5; after removal of the pawn at d4 and after f6; exf6, gxf6. Clearly
after this break through the Bishop would be more effectively placed at g2
than at d3.</p>

<p>One would think that chess with the principles above described would become
quite simple. We have now the Morphy principles for handling open positions
and those of Rubinstein for the manipulation of close ones. The greatest
difficulty, however, lies in the fact that in chess there never occurs in
practice either quite an open or quite a close position, but that we get a
position containing open and close elements. We recognise now what we propose
later to set forth in detail, namely, that all principles correspond with such
simple types, as in reality hardly ever occur in their pure form. It is not
possible to deal with a complicated position according to several principles,
because the latter often will be found to conflict with each other in their
respective application.</p>

{% endblock %}
