{% extends "reti-base.html" %}
{% block title %}
25. An Old Question - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>25. An Old Question</h1>

<p>What is chess? A game to which the most serious men have devoted their whole
lives and about which bulky volumes have been written. The question is, would
you call it a game or a science? If we trace the history of chess we shall
find that the game was in vogue mostly in those countries that played a
leading part in the matter of culture. In the declining middle ages the Arabs,
at that time the greatest leaders in culture in the world, introduced chess in
Europe. The oldest European authors on chess we find lived about the year 1500
in Spain and Portugal, the countries which in the age of material and
intellectual discoveries were the leaders. In the Renaissance period in Italy
the names of Polerio and Greco stand out. In the eighteenth century and in the
Napoleonic era France led Europe, both in politics and taste. That was the
time of the activity of Philidor and Labourdonnais, when Napoleon himself
devoted his leisure hours to the game.</p>

<p>In the nineteenth century the countries where chess was generally in vogue
were England and, later on, Germany, Russia and America. After the world war,
chess and the revival of chess tournaments have made a bridge for intercourse
between erstwhile hostile nations and have thus done their part towards
international reconciliation more quickly than science or art could do.</p>

<p>If we seek an explanation of the value of a game which was played with
preference by people of the highest degree of culture, we shall probably find
it in the following considerations - chess is a fighting game and Lasker has
already pointed out that every human being has the instinctive need for a
fighting game, be it of a sporting kind, such as cards, or a board game. It is
the desire, no matter how, to test one&#8217;s strength and to seek victory as a
compensation for our being, in modern times, mostly harnessed up in a
framework of machinery, and as a consequence being bound to maintain
throughout an equal pace. People of the highest culture are not satisfied with
just any sort of game. In the long run neither games that depend on physical
skill nor games of chance content them. But in chess we get a fighting game
which is purely intellectual and excludes chance. It depends in chess upon the
fighting capacity of our intellect whether we win or go under, and it is just
that which gives to the game the depth contained in it.</p>

<p>We fight differently when we are in a happy state of mind, then when we are
sad - and it is not only the momentary disposition, but also character that
shows itself in chess. The extra cautious, the petty, the tricky and the
reserved, the variable opportunist - these are easily recognisable and cannot
in the long run wrest success from the straightforward opponent, who always
seeks quite unconsciously the right paths through all difficulties. The above
considerations may afford us instances of the possibilities of expression that
bring chess so near to art.</p>

<p>Is it possible we ask ourselves, that a game can at the same time be an art?
Well, we can partly answer that by saying that games and art do not differ
from each other as much as we think. They have both much in common.</p>

<p>Then again, in a materialistic sense, both are absolutely objectless and
further, the player of games, equally with the artist, builds up his own world
and flies from the sameness of the everyday one to the kingdom he has set up
for himself. And lastly every art was once a game and a past-time. The wall
pictures of the prehistoric man, the songs of the ancient Greek shepherds or
their masked comedies were not very far remote from art. As soon, however, as
the luckless lover began to pour out his woes upon his lute then came the dawn
of art. The essence of art consists of the ability of the artist to sink his
soul in his work.</p>

<p>A hundred years ago chess was no doubt only a game, but he who has felt, for
example, the deep sense of devotion that pervades Rubinstein&#8217;s games knows
that we find there a new and ever progressing art.</p>

{% endblock %}
