{% extends "reti-base.html" %}
{% block title %}
28. Capablanca - N.N. - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>28. Capablanca - N.N.</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/rwSyoRBb?theme=blue" frameborder=1></iframe>

{% endblock %}
