{% extends "reti-base.html" %}
{% block title %}
26. Capablanca - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>26. Capablanca</h1>

<p>We have learnt to know beauty of a new kind in the latest years of the age of
chess technique. We appreciate now not only beauty that lies in magnificent
modern technical undertakings. We see also attraction in things, which would
formerly have seem to us ugly, for example, in steam locomotives, in smoking
furnaces, and in soot begrimed workmen. We have to-day a world-wide art of
efficiency and practicability. Americanism is doubtless beginning to penetrate
triumphantly into the realms of art. Of course it is a type of charm that we
marvel at rather than feel the glow of. For behind the old works of art we
could always trace the artist and recognise the human countenance of their
creators. Beauty of to-day is magnificent and overpowering, but it means the
death of individualism. Through the world war the old Europe has lost its lead
in the world, not only politically, but in culture. Americanism has forced
itself into Europe, perhaps transiently, perhaps permanently: Who knows?</p>

<p>Capablanca is the chess master in whose games is incorporated the spirit of
modern times. We see in his games the same magnificence, the same intensity of
effect and the same precision as in the marvellous works of modern technique,
and therefore Capablanca is the representative master of to-day and it is no
accident that he has become world-champion.</p>

<p>When in the early part of 1914 Capablanca was the guest of the Vienna Chess
Club, amongst other things a consultation game was arranged. It proceeded as
follows:</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/AOThVngv?theme=blue" frameborder=1></iframe>

<p>With this game began a revolution in my conviction as to the wisdom of the old
principle, according to which in the opening every move should develop another
piece. I studied Capablanca&#8217;s games and recognised that contrary to all the
masters of that period he had for some time ceased to adhere to that
principle.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/WmTDVlUO?theme=blue" frameborder=1></iframe>

<p>From a careful study of Capablanca&#8217;s games, I learnt in the end that instead
of applying Morphy&#8217;s principle of developing all the pieces as quickly as
possible he was guided in his plan by some plan based as much as possible on
positional considerations. According to that method every move not demanded by
that plan amounts to loss of time. Yet we must not run away with the idea that
Capablanca&#8217;s openings entirely differ from those of the older masters. For,
obviously, to carry out a plan you must develop your pieces. But there is a
difference and it is by those particular and unusual moves wherein such
difference lies, that Capablanca&#8217;s method of opening is superior. Let us in
that connection again consider the scheme of the game Tarrasch - Lasker (see §
16) from the point of view of the modern critic.</p>
<p>To avoid digression I shall not give an analysis of the first 10 moves which
are so often made in this opening.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/8DtxJ852?theme=blue" frameborder=1></iframe>

<p>This game should illustrate what is new in Capablanca&#8217;s technique. The two
following games afford us a still better insight.</p>

{% endblock %}
