{% extends "reti-base.html" %}
{% block title %}
27. Capablanca - Amateur - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>27. Capablanca - Amateur</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/9NsYwUkE?theme=blue" frameborder=1></iframe>

{% endblock %}
