{% extends "reti-base.html" %}
{% block title %}
24. Rubinstein - Lasker - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>24. Rubinstein - Lasker</h1>

<p>The reproach which has often been aimed at Rubinstein is that he plays one
opening only (Queen&#8217;s Gambit). One writer expresses his censure on that point
by saying that a great artist should never be one-sided. But Rubinstein is not
a man who can do all things. He is no virtuoso, but rather a priest in his
art. Can a single missionary teach at one time one religion and at other times
another?</p>

<p>Just as little could Rubinstein, in order to please the public or merely for
vanity&#8217;s sake, play anything but what his conviction prompted him.</p>

<p>The great artist is always humble and trusting. He is not the master of his
art; but rather its servant.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/aBcqYzTn?theme=blue" frameborder=1></iframe>

{% endblock %}
