{% extends "reti-base.html" %}
{% block title %}
22. Storm and Stress - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>22. Storm and Stress</h1>

<p>At the turn of the century chess seemed to fall into a state of stagnation.
Lasker, after his great successes at the Tournaments in London in 1899 and in
Paris in 1900, became the undisputed world champion and could with pride
retire for some years from the arena.</p>

<p>The former world champion, Steinitz, and the youthful Charousek were dead, and
Pillsbury, it was certain, would follow them a few years after. As young and
first-class talent was a long time coming to the front, it was always the same
masters that obtained the first prizes: Tarrasch and Schlechter and in
addition Maroczy, the master of defence, and the two masters of attack,
Janowski and Marshall, who possessed a wealth of ideas, but who nevertheless
were not quite a match for the three masters above mentioned. Nearly all the
masters of that time were so much under the influence of the Steinitz-Tarrasch
theories that their own personalities were forced completely into the
back-ground, with the result that, in the games of that period, the period
itself becomes more clearly recognisable than the players. This stagnation
appeared most distinctly in the exceedingly large number of short games
between the first masters and drawn by them without a fight.</p>

<p>The first inroad into the ranks of those privileged great masters took place
at the Ostend tournament of the year 1906. The first prize properly went to
Schlechter; the second fell to Maroczy. And next in order of prize winners was
young Rubinstein who then took part for the first time in an international
tournament. But it was an essential feature that in that same year, and in the
years that followed, quite a number of younger masters like Spielmann,
Niemzowitch, Tartakower, Duras, Vidmar and the young Perlis (now dead),
played, with ever increasing success, games full of desire for lively attack,
such as had hardly ever been seen in the last preceding years.</p>

<p>The struggle against the predominating tendency was accentuated by the young
men of storm and stress, particularly by their choice of openings. Hitherto
only two openings were in vogue, The Spanish (Ruy Lopez) and the Queen&#8217;s
Gambit. Perlis, Spielmann and Tartakower at that time had a preference for
attacking games such as the Vienna game or the King&#8217;s Gambit. In the defence
they avoided at all costs the enclosed positions which at the time had found
favour, and which to the great masters of investment, like Tarrasch in
particular, had afforded the opportunity for big triumphs.</p>

<p>Spielmann for example favoured the gambit defence of the Ruy Lopez and
Niemzowitch the Hannam defence. Especially destructive of old barriers, for
the future, became the defence favoured by Niemzowitch and Tartakower, namely,
the Tschigorin defence (1 e5, Nf6) which as is known, is also a favourite
defence with modern players in the Queen&#8217;s pawn opening.</p>

<p>There is however a difference in that this defence at that time was regarded
as an experiment with the object of reaching but little-known territory away
from known theoretical paths; whilst the present day adherents to the defence
play it from the conviction based upon their theory, that 1. ... e5 is not
quite adequate.</p>

{% endblock %}
