{% extends "reti-base.html" %}
{% block title %}
17. Americanism in Chess - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>17. Americanism in Chess</h1>

<p>The difference between European and American intellectual life had to find
itself also in chess. I shall contrast here two masters, and contemporaries,
as representatives of the antithesis, namely, Rudolf Charousek and Harry
Nelson Pillsbury. I once wrote the following sketch of Charousek: &#8220;Youth has
still its dreams and its ideals: but in the struggle for life they wear off.
The ordinary citizen soon gets immersed in the troubles of everyday life and
ii its sorrows and joys. The right man is he who stands firm by his own ideas;
they form the main support of his life and his labours. Still there comes a
time when he may renounce them and run his head against the wall. He adapts
himself to stern necessity: tardily, gradually, and by circuitous path does he
bring his goal by ever so little within his reach.&#8221;</p>

<p>&#8220;But seldom do we meet with the man who is child-like, yet so great, as to
disregard the sharp edges of reality even when they hurt him. His dreams for
him are actualities, he walks straight out towards his goal which no road
leads. On that account, to those who come after him, does his performance seem
so incomprehensively simple.&#8221;</p>

<p>&#8220;It is a delight to watch a young and gifted chess player. To him have come no
sinister experiences; to him continual carping care is foreign. Therefore he
loves the attack and the bold sacrifice; for therein lies the shortest way to
his ultimate objective.&#8221;</p>

<p>&#8220;But that state of things does not last long and through failure he becomes
wise. Soon the boldness disappears: we find him more concerned with safety and
he gathers in the advantages which come into his hands direct. In that way the
majority of people play. Here and there we find a player, who is not so easily
cowed by untoward experiences. He is still rich in plans, but he bears in mind
that he is not playing alone. Therefore he is careful and gets to love the
ready-made roads, at most improving them. In that way does the master play.&#8221;</p>

<p>&#8220;It was otherwise with Charousek. He had to carry out his ideas. He knew no
opponent: he only knew his goal. When he ran his head against a wall, he found
its weak points and went right through. Always going straight ahead, his
execution appears to us to be most simple. And yet no one could emulate him in
this very simplicity.&#8221;</p>

<p>Is the picture I have just drawn really that of Charousek? No indeed; it is
only an ideal, the idealistic picture of a chess master as it floats before my
eyes: an ideal to which the real Charousek perhaps approached.</p>

<p>For such is the strength and weakness of the European thinker and plodder,
that he always strives after the impossible. The American is steady and turns
what is possible to account. The great American chess masters (Morphy,
Mackenzie, Pillsbury) astonished the world by their successes at their first
appearances. Morphy retired early from chess: Mackenzie and Pillsbury in the
long run were bound to acknowledge the greater depth of the worlds champions
Steinitz and Lasker. To the European mind has undoubtedly belonged the past;
possibly to Americans belong the present and the future.</p>

<p>Pillsbury in his play was a true American. His games, free from all plodding
depth of thought and simple in their scheme, show astonishingly big lines in
their undertakings and have a refreshing effect upon the onlooker through the
energy in their execution. Pillsbury was a disciple of Steinitz: but the
latter&#8217;s persistent seeking and plodding was foreign to Pillsbury&#8217;s character.
He adopted indeed the complete practical results of the Steinitz theories and
the latter formed the groundwork of Pillsbury&#8217;s technique.</p>

<p>Pillsbury is most wonderful when he sets himself out to exploit weaknesses in
a hostile position. Then does his play on big lines assert itself; not content
with storing up small advantages, he always finds the right method for
destroying his opponent&#8217;s position root and branch. His games attained a
height above the ordinary level and placed Pillsbury in the rank of the great
masters.</p>

{% endblock %}
