{% extends "reti-base.html" %}
{% block title %}
18. Blackburne - Charousek - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>18. Blackburne - Charousek</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/TKXMjbdq?theme=blue" frameborder=1></iframe>

{% endblock %}
