{% extends "reti-base.html" %}
{% block title %}
20. Carl Schlechter - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>20. Carl Schlechter</h1>

<p>Vienna, the old art city, was always the city of those who were unrecognised
or of those whose recognition came too late. That is ingrained in the spirit
of everything that goes to make up Vienna and Viennese Art. For that art is
wanting in the grand pathos and tragic gesture. It is not blatant; on the
contrary it is hidden. It does not impose itself: it has rather to be
approached; it must be sought out. Vienna has an old chess tradition , because
chess is particularly the game of the unappreciated, who seek in play that
success which life has denied them.</p>

<p>Steinitz sprang from the chess school of Vienna, but to become the world
champion he went abroad and divested himself of what was Viennese in him. The
most noted representative of the Viennese in chess was Schlechter. He showed
himself quite equal to Lasker the World Champion, but he was too Viennese to
wrest the title of World&#8217;s Champion. The majority of people imagine a chess
master as being a townsman who passes his life in an atmosphere of smoke and
play in cafés and clubs: a neurasthenic individual, whose nerves and brains
are continually working at tension: a one-sided person who has given up his
whole soul to chess.</p>

<p>Schlechter was the exact antithesis of that conception. He held himself aloof
from club and café, so far as his vocation permitted. He lived for preference
in the country, where he filled in his leisure with art and science. All his
heart and soul went out to nature, and it is just that reflex of his love of
nature that lends to his games their particular charm. His games stand out
through their breadth of scheme - just as in the forest the trunks of trees
and their branches stretch themselves out on all sides wherever there are open
spaces: thus did Schlechter develop his forces; forcibly and, like Nature as
it were, objectless. No hidden places and traps were there, but only sound
development. With him was no undue haste and no pinning himself down to one
idea, but one harmonious evolution. And indeed combinations by Schlechter are
not artificially-reared roses which amaze everyone with their beauty and
which, to the true nature lover, soon savour of excess; nay, they are rather
the humble and hidden forest flowers that have to be looked for and the love
of which increases with their gathering. Thus one loses one&#8217;s self in
Schlechter&#8217;s games in which are reflected, side by side with the immensity and
simplicity of nature, the airiness of Viennese art and music.</p>

<p>By the time we shall have grown weary of the blatant combinations of the old
masters and the over subtle positional plans of the new ones, we shall still
delight immersing ourselves in Schlechter&#8217;s games, in which, side by side with
the greatness and simplicity of nature, the grace and airiness of Viennese
music are often reflected.</p>

{% endblock %}
