{% extends "reti-base.html" %}
{% block title %}
14. Emanuel Lasker - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>14. Emanuel Lasker</h1>

<p>During the era of scientific chess there were not only accurate investigators
like Steinitz and Tarrasch who built up their theories on experience, but
there was living at that time a philosopher who played chess, by name Emanuel
Lasker: the former chess champion. In giving a portrayal of Lasker&#8217;s
individuality in chess I must not omit therefrom his love of philosophy. He
began with quite small essays and lectures in which he compared chess to life.
Then he wrote an essay entitled &#8220;der Kampf&#8221; (The Struggle). To struggle means
to overcome difficulties which stand in the way of reaching a goal. He tried
to discover general laws for the proper way to carry on the struggle. Chess as
an example of a purely intellectual and straightforward struggle he adduced as
the test of the correctness of his theory. Lasker&#8217;s chess activities were not
an end in themselves, but a preparation for his philosophy. It strikes one as
remarkable that Lasker, the one-time world&#8217;s chess champion, had no disciples.
Steinitz had founded a school. Nearly all modern masters have learnt from
Tarrasch. One perceives quite clearly the mind of young Rubinstein in the
chess praxis of later years: Only Lasker is inimitable. Why is it? We ask: Can
he be said to have given us nothing lasting towards the progress of our game?</p>

<p>The other masters endeavoured to create a specific chess technique. They
studied the peculiarity of the board and of the pieces and propounded general
maxims as &#8220;two Bishops are stronger than two Knights&#8221; or &#8220;the Rook should be
placed behind the passed pawns.&#8221; Those are maxims that have no general value
and, to a great extent, so far as they apply to progressive chess technique,
require certain qualification: yet they are glasses for the short-sighted and
have their uses. Lasker acknowledged only universal laws of the struggle and
by means thereof he triumphed over Steinitz and Tarrasch and proved the errors
and defects in their chess technique. Therein lay his merit in chess. So to
improve his powers, that attack and the necessary defence went hand in hand,
was for Lasker not a matter of chess principle only. The latter troubled him
but little. It was the struggle as such that concerned him. But against the
most perfect technique even the Titans with their bare strngth could not
prevail. Thus Lasker was beaten by Capablanca. The age of heroes is over in
chess, as well in other things. Where Lasker was most original was in his
application of the principles of development. Take, for example, with what
wonderful control he avoids the self suggesting and attractive moves for the
sake of correct development.</p>

{{ game.pgn("emanuel_lasker", "chapter3", "reti-mic") }}

{% endblock %}
