{% extends "reti-base.html" %}
{% block title %}
15. Marshall - Lasker - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>15. Marshall - Lasker</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/ha4HxkKs?theme=blue" frameborder=1></iframe>

{% endblock %}
