{% extends "reti-base.html" %}
{% block title %}
19. Pillsbury - Tarrasch - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>19. Pillsbury - Tarrasch</h1>

<p>We all know the dramas of the American films in which we witness danger
approaching. With breathless tension the audience look for some deed or
happening that will bring about salvation, but it seems to be too late for
that. Only at the last moment, and just in time, the situation is saved. Such
an exciting drama is afforded us in the following game. After White&#8217;s
twenty-eight move the position shown in this diagram was arrived at.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/AlH16Iuy?theme=blue" frameborder=1></iframe>

{% endblock %}
