{% extends "reti-base.html" %}
{% block title %}
21. Schlechter - John - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>21. Schlechter - John</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/3FBTKouT?theme=blue" frameborder=1></iframe>

{% endblock %}
