{% extends "reti-base.html" %}
{% block title %}
11. Siegbert Tarrasch - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>11. Siegbert Tarrasch</h1>

<p>The ideas of Steinitz were too new for his time. The neglect of development,
the extended Knight manoeuvres which were bound up with the withdrawal of
apparently well posted pieces, the contempt for the momentary as opposed to
the permanent positions (more difficult of comprehension), were so remote from
his contemporaries that what was original in Steinitz was attributed more to
his obstinacy and his preference for what was quaint, rather than to any deep
deliberation on his part. But the facts themselves spoke for Steinitz, for he
had beaten the best of his contemporaries, namely, Anderssen, Blackburne,
Zuckertort and Tschigorin.</p>

<p>The aspiring young Masters of that day began to fashion themselves upon
Steinitz&#8217;s games in preference to those of any others; and thus arose the
Steinitz school. It could not be said to be an imitation of the Steinitz
method but rather a combining of the Steinitz technique (not Steinitz&#8217;s scheme
of the game) with the otherwise usual method of playing, whose tendency was
the quick development of pieces. The latter Steinitz had neglected. The
founder of this new style, the man to give the lead in it, and indeed the most
prominent representative of that epoch, is Doctor Siegbert Tarrasch.
Furthermore Tarrasch developed another branch of Steinitz&#8217;s investigations,
namely, the correct treatment of the opponent&#8217;s cramped positions, which was
not merely a small or less important branch. The greater freedom of space is
by much the most important of the Steinitz permanent positional
characteristics. Most of the others (like the advantage of two Bishops or the
disadvantage of a weak point on the other side, etc.) may force a cramped
position.</p>

<p>It will be remembered that a large number of tournament games of such masters
as Maroczy, Schlechter and Teichmann, etc., resembled trench warfare and one
perceives also the overwhelming influence of Tarrasch upon the actual
development going on in his time. This great influence was due not only to
Tarrasch&#8217;s activity in chess playing but also to his literary achievements.</p>
<p>Contrary to many other masters who kept their methods to themselves, Tarrasch
always communicated his theories and his mode of thought in chess to others,
and brought them under discussion. In the last decade the general standard of
play had risen considerably. A large part of the credit for that can be
attributed to Tarrasch&#8217;s activity in chess literature. Possibly he could have
attained better success as a chess player had he not always published his
knowledge and given it to all the others. Still posterity, which will appraise
chess not merely as a game but as an art, will judge Tarrasch, not from his
material successes (great as they were), but from the intrinsic merit of his
performances and from his whole personality.</p>
{% endblock %}
