{% extends "reti-base.html" %}
{% block title %}
12. Tarrasch - Schlechter - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>12. Tarrasch - Schlechter</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/ZDjcVXyI?theme=blue" frameborder=1></iframe>

<p>In order to satisfy ourselves that White, thanks to the pawn formation (White
Pawn at e4 and Black Pawn at d6) has the freer game I shall now contrast the
respective developing possibilities of White and Black&#8217;s pieces.</p>

<ol class="arabic simple">
    <li><em>Rooks</em>. The White Rooks can be developed on the Queen and King files:
    whilst for the Black Rooks only the Bishop&#8217;s files are available.</li>
    <li><em>Bishops</em>. Whilst the White Bishops are freely mobile, Black&#8217;s Pawn at d6
    is a block to the Bishop at e7.</li>
    <li><em>Knights</em>. The Knights are short-stepping pieces: therefore in order that
    they may be effective they cannot remain behind like Rooks and Bishops but
    must seek advanced posts, and they can only assert themselves there if they
    be protected. Therefore the destination of the Knights, which is most worth
    trying to obtain, is the most advanced squares within the protection of
    their own pawns. In the position now arrived at in this game, the most
    advanced squares would be for White d5 and f5 and for Black c5 e e5. We see
    thus that White has the prospect of posting his Knights permanently on the
    fifth and Black, on the contrary, only on the fourth. Therefore White&#8217;s
    Knight can take part more energetically than can Black&#8217;s in an attack
    directed against a castled King.</li>
</ol>

<p>These positional disadvantages could only be overcome by Black if he succeded
in getting rid of the pawn at e4 by means of d5 or f5.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/HuoXa8pB?theme=blue" frameborder=1></iframe>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/51ThV2OP?theme=blue" frameborder=1></iframe>

{% endblock %}
