{% extends "reti-base.html" %}
{% block title %}
13. Tarrasch - Walbrodt - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>13. Tarrasch - Walbrodt</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/mzOqsKnL?theme=blue" frameborder=1></iframe>

{% endblock %}
