{% extends "reti-base.html" %}
{% block title %}
16. Tarrasch - Lasker - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>16. Tarrasch - Lasker</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/HI2K0o9w?theme=blue" frameborder=1></iframe>

<p>What is it, we may well ask, in this game that pleases us so much. The layman
who plays it through without any enlightenment will at most derive some
interest from the surprise move 27. ... Rxf4. But the expert will with very
great tension follow Lasker&#8217;s equally original and deep idea of placing his
Rook upon seemingly perilous ground in order to extricate himself from his
congested position. And we experience a desire that this bold stroke of
genius, and not the sober prosaic method will snatch a victory.</p>

<p>We see how Tarrasch, the man of method, closes in the Rook that has been
forced through. We were just on the point of giving up Black&#8217;s game as lost.
It was Black who had our sympathy. But then comes a surprising move 23. ...
Rd8 with the threat of liberating the Rook and breaking up White&#8217;s position,
and then again White&#8217;s counter combination. The drama approaches its climax.
And then when the solution comes 27. ... Rxf4 great is our delight that the
miraculous has really come to pass and that the idea of a genius, for which
every pedagogue would have foretold a bad end, has triumphed over all that
was systematic and according to rule.</p>

<p>We saw at the commencement of this book that the pleasure derived by the chess
lover from sacrificial combinations was the feeling that with them mind
triumphs over matter. To play for material advantage is what everybody does.
It is the usual everyday occurrence and may be deemed banal.</p>

<p>But winning combinations involving sacrifices, on the contrary, represent to
us the victory of genius over what is banal or over that jejune practical mind
which seeks but to harvest every material advantage. The chess votary thus
sees in the sacrifice the miraculous about which he dreams, but which as a
rule he never meets with. Now we appreciate that what affords us so much
enjoyment in chess is really the same thing for all of us, be it for the
layman who sees nothing finer in chess than the sacrificial combination or be
it for the expert who marvels at the far-reaching scheme of a game. It is the
triumph of the intellect and genius over lack of imagination; the triumph of
personality over materialism.</p>

{% endblock %}
