{% extends "reti-base.html" %}
{% block title %}
4. Fourth Game in the Match - Anderssen - Morphy - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>4. Fourth Game in the Match - Anderssen - Morphy</h1>
<p>This contest between two different schools shows us clearly that the player
who, merely through his imagination and power of combination, gave to the game
its particular aspect, was bound to lose in the long run; because Morphy's
Positional play and the principle of quick development proved ultimately
superior to mere talent, however strong.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/SY1WiDWI?theme=blue" frameborder=1></iframe>

{% endblock %}
