{% extends "reti-base.html" %}
{% block title %}1. Combination{% endblock %}
 - Modern Ideas in Chess
{% block content %}
<h1>1. Combination</h1>

<p>We perceive after a careful consideration of the evolution of the chess
mind that such evolution has gone on, in general, in a way quite similar
to that in which it goes on with the individual chess player, only with
the latter more rapidly.</p>

<p>The earliest books on the game as played today go back no further than
the commencement of modern times. They are written by masters of that
period, and, from the beautiful combinations contained in them, we
recognise, quite distinctly, the chess talent of the particular authors.
But on the whole they were groping in the dark, for the gross and glaring
errors that occur in those works lead us to the conclusion that to obtain
an accurate grasp of a position, or &#8220;sight&#8221; of the board,
meant as much trouble to the experienced player of that time as it does to
the beginner of today.</p>

<p>A chess player in his early stages, who for the first time plays over
the games of those masters, experiences unbounded delight in the
combinations to be found in them, more especially those involving
sacrifices. The other parts of the game seem to have but little interest
to him. On those lines was chess played until the middle of the nineteenth
century, practically until Morphy appeared upon the scene.*(An exception
was the great Chess Philosopher, A.D.  Philidor (died 1795), who was too
much in advance of his time to be properly understood.) During that
period, quite at the beginning of the game a player tried to work out
combinations quickly, with the conviction that they were much the most
valuable factors in the game.</p>

<p>The chess hero of that epoch, with whose name, for most players, is
associated the first grasp of the limitless beauties of our game, was
Adolph Anderssen (1818-1878). One of his most beautiful and best known
combinations is the following:</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/PTSVcqG6?theme=blue" frameborder=1></iframe>

<p>If we ask ourselves what there is in this particular combination or,
for a matter of that, in any combination, that compels our admiration, the
reply will be that in the game just quoted it is the quiet inconspicuous
introductory move (1. Rad1) which just by reason for its inconspicuousness
operates with such great charm. A strong and more strikingly attacking
move could have been made without any regard as to what was to follow. But
it is the choice by Anderssen of the less obvious move, whose meaning only
becomes clear later on, that focus us to the appreciation of the deep
working of his brain.</p>
<p>It is the same with a sacrifice. A combination composed of a sacrifice
has a more immediate effect upon the person playing over the game in which
it occurs than another combination, because the apparent senselessness of
the sacrifice is a convincing proof of the design of the player offering
it. Hence it comes that the risk of material, and the victory of the
weaker material over the stronger material, gives the impression of a
symbol of the mastery of mind over matter.</p>
<p>Now we see wherein lies the pleasure to be derived from a chess
combination.  It lies in the feeling that a human mind is behind the game
dominating the inanimate pieces with which the game is carried on, and
giving them the breath of life. We may regard it as an intellectual
delight, equal to that afforded us by the knowledge that behind so many
apparently disconnected and seemingly chance happenings in the physical
world lies the one great ruling spirit - the law of Nature.</p>
{% endblock %}
