{% extends "reti-base.html" %}
{% block title %}
3. Paul Morphy - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>3. Paul Morphy</h1>

<p>Paul Morphy, the American, had in his early years a most brilliant chess
career. After having gained in 1857, when only twenty years old, his first
prize in the master tournament in New York he beat the greatest European
masters, and finally Anderssen, in a decisive manner. To the question: What
was the secret of that success? The reply is that he had a wonderful talent
for combinations. Anderssen possessed that talent no less than Morphy and in
addition more imagination than the latter. The deciding advantage in Morphy&#8217;s
favour was the fact that he was the first positional player.</p>

<p>Positional play in early days was nearly always governed by general
principles. Morphy, it is true, had written nothing himself; but his games
clearly contained the basic principles for the treatment of open positions.
Morphy was not at home in close positions, and in these often not fully a
match for some of his contemporaries. The games lost by Morphy were mostly
those that partook of a close character.</p>

<p>The most important principle in the treatment of opening positions to be
learnt from Morphy&#8217;s games, is that which subsequentially became to all chess
lovers a matter of course: the one which lays down that in the opening, with
every move development is to be advanced.</p>

<p>As an example I give the normal position in the Evans Gambit which is arrived
at after the following moves:</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/HOm0weTU?theme=blue" frameborder=1></iframe>

<p>Another example: A master game of the first half of the nineteenth century
opened with the following moves:</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/FLlFDvrB?theme=blue" frameborder=1></iframe>

<p>An American chess player tried the same
combination against Morphy. In the position shown in Diagram IV Morphy did not
allow himself to be inveigled into making the seemingly excellent move 5. Ne5,
for he saw that it had the disadvantage of not developing another piece and
that it run counter therefore to his own principles. Morphy simply played:</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/rQv6HlzY?theme=blue" frameborder=1></iframe>

{% endblock %}
