{% extends "reti-base.html" %}
{% block title %}
2. Positional Play - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>2. Positional Play</h1>

<p>The layman thinks that the superiority of the chess master lies in his
ability to think out 3 or 4, or even 10 or 20, moves ahead. Those chess lovers
who ask me how many moves I usually calculate in advance, when making a
combination, are always astonished when I reply, quite truthfully, &#8220;as a
rule not a single one.&#8221; Formerly, in Anderssen&#8217;s time, the ability
to make combinations was in fact the very essence of chess talent. Since then,
however, the chess mind has further developed, and the power of accurately
calculating moves in advance has no greater place in chess than, perhaps,
skilful calculation has in mathematics.</p>

<p>Applying a simple mathematical formula we shall easily see how impossible,
and on the other hand how objectless, it would be in general to try to work
out in advance exact sequences of moves. Let us consider a position in which
there is no distinct threat: an ordinary tranquil position. We shall certainly
not be going too far if we assume that each side has every time on an average
three feasible moves; that being the number to be take into account, generally
speaking, in order to effect the calculation. If I want to work out, now, all
the variations on the basis of the full move (i.e. one move by me and one by
my opponent) for all the variations, I should have to consider already 3ّ² = 9
different variations. On the basis of two full moves the number of possible
variations already amounts to 3⁴ = 81 their computation being at the most
possible in correspondence games.</p>

<p>Should we further wish to calculate the number of variations of 3 moves of
Black and White respectively we find that the number of such variations is
represented by 3⁶ = 729: in practice therefore scarcely possible of execution.
Allowing we took the trouble to make the above calculations what would be the
advantage to be derived therefrom? The computation of the variations would
only have some sense if, from the resulting perspective positions, we could in
the end discover which combination would be most favourable. We cannot assume,
again in tranquil position, that after 3 moves so thought out, a clear result
will ve evident. Therefore from the point of view of the ordinary player, who
thinks that in chess nothing counts but combinations, a further calculation is
called for; and it is clear with what rapidity, exceeding that of all human
calculation, the number of possibilities would increase after few moves.</p>

<p>Combinations in chess can only be made when the number of possibilities to
be reckoned in advance is a limited one, that is to say when the moves of one
player force the opponent to make moves already foreseen. This can happen
either if a move contains a certain threat which can be parried by the
opponent only in hte way or at any rate only in a very few ways: for example
if an opponent&#8217;s piece is exchanged, so that he in reply must take a
piece, or again if check be called. A combination by one player involves
therefore forced moves by the opponent. It is only in such cases that it is
possible to calculate much in advance, as many as twenty - perhaps more -
moves, because the number of different variations is still very small.</p>

<p>Speaking generally the essential object of this work is to deal not with
exact combinations but with all kinds of considerations relating to the
development and evolution of the strategic mind and which dictate moves in
chess. The method of playing chess by which we do not try to work out single
moves in advance is known as positional play. Play by means of combinations
and positional play are not opposed to each other, but rather mutually
supporting.  The scheme of a game is played on positional lines, the decision
of it is, as a rule, effected by combinations. This is how Lasker&#8217;s
pronouncement that play is the preparation for combinations is to be
understood.</p>
{% endblock %}
