{% extends "reti-base.html" %}
{% block title %}
5. The Opening - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>5. The Opening</h1>

<p>Another Morphy&#8217;s perceptions, which becomes clear in a large number of his
games, is that superior development increases in value, in proportion as the
game is more open.</p>
<p>Therefore the side with the better development should endeavour as much as
possible to shape the game as an open one, whilst it is in the interest of the
side with the worse development to keep the game close. I give here some
characteristic and illustrative games.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/mDxd406G?theme=blue" frameborder=1></iframe>

<p>This games gives us an opportunity also of considering the pawn sacrifice as
characteristic of Morphy. Thanks to his principle of development, he often had
his Rooks and Bishops in play before his opponent had castled. Those pieces
require open lines. The early pawn sacrifices by Morphy are directed towards
that object, namely, the opening of lines, and are made mostly for positional
purposes, without any exact calculation. The following game will serve as an
example.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/aDoD1qiG?theme=blue" frameborder=1></iframe>

<p>A large number of still more characteristic and, as regards the development of
chess technique, more remarkable games of Morphy had this meaning: that his
opponent were unacquainted with the principle that the opening of the game was
favourable to the side with the better development, and further that those
opponents whose development was defective, in advancing pawns with the object
of freeing their position only opened up avenues of mobility for the pieces of
the other player.</p>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/ehEFnuWb?theme=blue" frameborder=1></iframe>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/aAzfOeqc?theme=blue" frameborder=1></iframe>

{% endblock %}
