{% extends "capablanca-cf-base.html" %}
{% block title %}
9. A cardinal principle - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>9. A cardinal principle</h1>

<p>
    We shall now go back to the endings in search of a few more principles,
    then again to the middle-game, and finally to the openings once more, so
    that the advance may not only be gradual but homogeneous. In this way the
    foundation on which we expect to build the structure will be firm and
    solid.
</p>

<p>
    In the position shown below, White can draw by playing b4 according to the
    general rule that governs such cases, i.e. <em>to advance the Pawn that is free
    from opposition</em>. But suppose that White, either because he does not know
    this principle or because he does not, in this case, sufficiently
    appreciate the value of its application; suppose, we say, that he plays 1.
    a4. Then Black can win by playing 1... a5, applying one of the cardinal
    principles of the high strategy of chess -- <em>A unit that holds two</em>.
</p>

<p>
    In this case one Pawn would hold two of the opponent's Pawns. The student
    cannot lay too much stress on this principle. It can be applied in many
    ways, and it constitutes one of the principal weapons in the hands of a
    master.
</p>

<h3>Example 22.</h3>

{{ game.pgn("example22", "chapter2", "capablanca-cf") }}

<p>
    This brings the game to a position which is won by Black, and which
    constitutes one of the classical endings of King and Pawns. I shall try to
    explain the guiding idea of it to those not familiar with it.
</p>

{% endblock %}
