{% extends "capablanca-cf-base.html" %}
{% block title %}
9. A classical ending - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>9. A classical ending</h1>

<h3>Example 23.</h3>

{{ game.pgn("example23", "chapter2", "capablanca-cf") }}

<p>
    It is in this analytical way that the student should try to learn. He will
    thus train his mind to follow a logical sequence in reasoning out any
    position. This example is excellent training, since it is easy to divide it
    into three stages and to explain the main point of each part.
</p>

<p>
    The next subject we shall study is the simple opposition, but before we
    devote our time to it I wish to call attention to two things.
</p>

{% endblock %}
