{% extends "capablanca-cf-base.html" %}

{% block title %}
12. How to find out which pawn will be first to queen - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>12. How to find out which pawn will be first to queen</h1>

<p>
    When two Pawns are free, or will be free, to advance to Queen, you can find
    out, by counting, which Pawn will be the first to succeed.
</p>

<h3>Example 25.</h3>

<p>
    In this position whoever moves first wins. The first thing is to find out,
    by counting, whether the opposing King can be in time to stop the passed
    Pawn from Queening. When, as in this case, it cannot be done, the point is
    to count which Pawn comes in first. In this case the time is the same, but
    the Pawn that reaches the eighth square first and becomes a Queen is in a
    position to capture the adversary's Queen when he makes one. Thus:
</p>

{{ game.pgn("example25", "chapter2", "capablanca-cf") }}

<p>
    The student would do well to acquaint himself with various simple endings
    of this sort, so as to acquire the habit of counting, and thus be able to
    know with ease when he can or cannot get there first. Once again I must
    call attention to the fact that a book cannot by itself teach how to play.
    It can only serve as a guide, and the rest must be learned by experience,
    and if a teacher can be had at the same time, so much the faster will the
    student be able to learn.
</p>

{% endblock %}




