{% extends "capablanca-cf-base.html" %}

{% block title %}
11. Obtaining a passed pawn - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>11. Obtaining a passed pawn</h1>

<h3>Example 24.</h3>

<p>
    When three or more Pawns are opposed to each other in some such position as
    the one in Example 24, there is always a chance for one side or the other
    of obtaining a passed Pawn.
</p>

{{ game.pgn("example24a", "chapter2", "capablanca-cf") }}

<p>
    Now if it had been Black's move Black could play:
</p>

{{ game.pgn("example24b", "chapter2", "capablanca-cf") }}

<p>
    The student should work this out for himself.
</p>

{% endblock %}
