{% extends "capablanca-cf-base.html" %}

{% block title %}
13. The opposition - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>13. The opposition</h1>


<p>
    When Kings have to be moved, and one player can, by force, bring his King
    into a position similar to the one shown in the following diagram, so that
    his adversary is forced to move and make way for him, the player obtaining
    that advantage is said to have <em>the opposition</em>.
</p>

<h3>Example 26.</h3>

<p>
    Suppose in the above position White plays:
</p>

{{ game.pgn("example26a", "chapter2", "capablanca-cf") }}

<p>
    Notice that the Kings are directly opposed to each other, and the number of
    intervening squares between them is odd - one in this case.
</p>

<p>
    The opposition can take the form shown above, which can be called actual or
    close frontal opposition; or this form:
</p>

{{ game.pgn("example26b", "chapter2", "capablanca-cf") }}

<p>
    which can be called actual or close diagonal opposition, or, again, this
    form:
</p>

{{ game.pgn("example26c", "chapter2", "capablanca-cf") }}

<p>
    which can be called actual or close lateral opposition.
</p>

<p>
    In practice they are all one and the same. The Kings are always on squares
    of the same colour, there is only one intervening square between the Kings,
    and the player who has moved last "<em>has the opposition</em>."
</p>

<p>
    Now, if the student will take the trouble of moving each King backwards as
    in a game in the same frontal, diagonal or lateral line respectively shown
    in the diagrams, we shall have what may be called <em>distant</em> frontal,
    diagonal and lateral opposition respectively.
</p>

<p>
    The matter of the opposition is highly important, and takes at times
    somewhat complicated forms, all of which can be solved mathematically; but,
    for the present, the student should only consider the most simple forms.
    (An examination of some of the examples of King and Pawns endings already
    given will show several cases of close opposition.)
</p>

<p>
    In all simple forms of opposition, <em>when the Kings are on the same line
    and the number of intervening squares between them is even, the player who
    has the move has the opposition</em>.
</p>

<h3>Example 27.</h3>

<p>
    The position below shows to advantage the enormous value of the opposition.
    The position is very simple. Very little is left on the board, and the
    position, to a beginner, probably looks absolutely even.  It is not the
    case, however. <em>Whoever has the move wins</em>. Notice that the Kings
    are directly in front of one another, and that the number of intervening
    squares is <em>even</em>.
</p>

<p>
    Now as to the procedure to win such a position. The proper way to begin is
    to move straight up. Thus:
</p>

{{ game.pgn("example27a", "chapter2", "capablanca-cf") }}

<p>
    Let us begin anew.
</p>

{{ game.pgn("example27b", "chapter2", "capablanca-cf") }}

<p>
    The student would do well to familiarise himself with the handling of the
    King in all examples of opposition. It often means the winning or losing of
    a game.
</p>

<h3>Example 28.</h3>

<p>
    The following position is an excellent proof of the value of the opposition
    as a means of defence.
</p>

<p>
    White is a Pawn behind and apparently lost, yet he can manage to draw as
    follows:
</p>

{{ game.pgn("example28a", "chapter2", "capablanca-cf") }}

<p>
    Going back to the original position, if
</p>

{{ game.pgn("example28b", "chapter2", "capablanca-cf") }}

<p>
    If the student will now take the trouble to go back to the examples of King
    and Pawns which I have given in this book, he will realise that in all of
    them the matter of the opposition is of paramount importance; as, in fact,
    it is in nearly all endings of King and Pawns, except in such cases where
    the Pawn-position in itself ensures the win.
</p>

{% endblock %}
