{% extends "reti-base.html" %}
{% block title %}
8. Close Positions - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>8. Close Positions</h1>

<p>We have seen that Steinitz in his scheme of play endeavoured, contrary to
Morphy, to bring about a close game. We have also learnt that Morphy
principle, based on the quick development of pieces, is the correct one only
in open positions. After that had been grasped the next problem with which
players were confronted in the period of scientific chess was to discover
principles upon which close positions could be dealt with. To have discovered
such principles, deeper and more numerous as they were than those relating to
development in open positions, is due to Steinitz. The latter, again unlike
Morphy, set forth his thoroughly revolutionary discoveries concerning chess
technique in books on theory, and also in his analysis of games. He became
thereby the founder of a school of chess which, till a few years ago, was,
generally speaking, the leading one. Steinitz discerned that in close
positions the development of pieces was not of first importance but that
certain continuing positional characteristics were so. These are shown by the
available material in pieces on the board and by the structural appearance.
His discoveries are far too comprehensive to permit of their being fully set
out here. But in order to afford some conception of his ideas I give two of
the games which show frequently occurring instances of the employment of those
positional characteristics already referred to.</p>

{% endblock %}
