{% extends "reti-base.html" %}
{% block title %}
10. Steinitz - Blackburne - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>10. Steinitz - Blackburne</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/igGcyY0D?theme=blue" frameborder=1></iframe>

{% endblock %}
