{% extends "reti-base.html" %}
{% block title %}
7. Steinitz - Tschigorin - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>7. Steinitz - Tschigorin</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/pzYmqcV7?theme=blue" frameborder=1></iframe>

{% endblock %}
