{% extends "reti-base.html" %}
{% block title %}
9. Steinitz - MacDonnell - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>9. Steinitz - MacDonnell</h1>

<iframe width="100%" height=460 src="https://lichess.org/study/embed/j99FKIel/AxJyaU4j?theme=blue" frameborder=1></iframe>

{% endblock %}
