{% extends "reti-base.html" %}
{% block title %}
4. Fourth Game in the Match - Anderssen - Morphy - Modern Ideas in Chess
{% endblock %}

{% block content %}
<h1>6. Wilhelm Steinitz</h1>

<p>We have already mentioned that in the old era positional play was almost
throughout based on general principles. The perception and development of
those general principles were at that time nearly identical with the
development of chess playing. From the striving for, and after investigation
of, such general principles it becomes clear that chess at that time was
treated on scientific lines. The greatest representative of the scientific
tendency in chess was Wilhelm Steinitz.</p>

<p>I propose to consider here the difference in the scheme of Morphy&#8217;s
and Steinitz&#8217;s games respectively. Morphy tried his utmost at the
commencement to press forward in the centre, so that his game became open
quite early. It was due to his principles of development that he had, in most
cases, at the outset a better development than his opponent. As soon, however,
as these principles of Morphy&#8217;s had become the common property of all
chess players it was difficult to wrest an advantage in an open game.</p>

<p>On the contrary the old form of opening brought about the early mutual
opposing of bishops and rooks and led to simple exchanges. For example Morphy
chose in reply to the French defence the so-called &#8220;exchange&#8221;
variation 1. e4 e6; 2. d4 d5; 3. exd5 exd5, which gives a more open game
because the two centre pawns have been got rid of. In this opening Morphy by
quick development and mostly for the purpose of doubling his rooks on the only
open file, namely, the King&#8217;s file, used thereby to obtain the command
of it; and that was possible, because his opponent, as a consequence of his
failure to develop, was unable to set up an opposition whit his rooks in time.
This variation of the French defence is looked upon today as a typical drawing
variation for the reason that by ordinary good play Black is able to put his
major pieces in opposition to those of White, and White is then driven to
general exchange, should he not wish to relinquish the command of those files,
and, thereby, a decisive positional advantage to his opponent. In order to
avoid such a simplifying process so early in the game, and to have an
opportunity of preparing deeply laid manoeuvres for attack, without being
threatened by his opponent with exchanges, Steinitz readily chose openings in
which he obtained in the centre a more defensive, but strong and unassailable
position. The assured centre position afforded him the possibility to prepare
a wing attack slowly yet steadily. In the following match game,
Steinitz-Tschigorin, we find this typical scheme of Steinitz play.</p>

{% endblock %}
