{% extends "capablanca-cf-base.html" %}
{% block title %}
17. Attacking without the aid of knights - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>17. Attacking without the aid of knights</h1>

<p>I shall now give a few winning positions taken from my own games. I have
selected those that I believe can be considered as <em>types</em>, i.e.
positions that may easily occur again in a somewhat similar form. A knowledge
of such positions is of great help; in fact, one cannot know too many. It
often may help the player to find, with little effort, the right move, which
he might not be able to find at all without such knowledge.</p>

<h3>Example 43. </h3>
<p>It is Black's move, and as he is a Knigth and Pawn behind he must win
quickly, if at all. He plays:</p>

{{ game.pgn("example43", "chapter3", "capablanca-cf") }}

<p>It has taken exactly ten moves to mate from the original position.</p>

<h3>Example 44.</h3>


<p>Black's last move was ... e3, played with the object of stopping what he
thought was White's threat, viz.: Ra5, to which he would have answered ...
Qf4+ and drawn the game by perpetual check.  White, however, has a more
forceful move, and he mates in three moves as follows:</p>

{{ game.pgn("example44", "chapter3", "capablanca-cf") }}

<h3>Example 45.</h3>

<p>White has a beautiful position, but still he had better gain some material,
if he can, before Black consolidates his defensive position.  He therefore
plays:</p>

{{ game.pgn("example45", "chapter3", "capablanca-cf") }}

<p>In these few examples the attacking has been done by Rooks and Bishops in
combination with the Queen. There have been no Knights to take part in
the attack. We shall now give some examples in which the Knights play a
prominent part as an attacking force.</p>
{% endblock %}
