{% extends "capablanca-cf-base.html" %}
{% block title %}
18. Attacking with knights as a prominent force - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>18. Attacking with knights as a prominent force</h1>

<h3>Example 46. </h3>

<p>White is two Pawns behind. He must therefore press on his attack. The game
continues:</p>

{{ game.pgn("example46", "chapter3", "capablanca-cf") }}

<p>Full score and notes are given in <em>My Chess Career</em>, by J. R. Capablanca
(Game No. 11).</p>

<h3>Example 47. </h3>

<p>The student should carefully examine the position, as the sacrifice of the
Bishop in similar situations is typical, and the chance for it is of frequent
occurrence in actual play. The game continues:</p>

{{ game.pgn("example47", "chapter3", "capablanca-cf") }}

<p>This position is elaborated under Example 50.</p>

{% endblock %}
