{% extends "capablanca-cf-base.html" %}
{% block title %}
19. Winning by indirect attack - Chess Fundamentals
{% endblock %}

{% block content %}
<h1>19. Winning by indirect attack</h1>

<p>We have so far given positions where the attacks were of a violent nature
and directed against the King's position. Very often, however, in the
middle-game attacks are made against a position or against pieces, or even
Pawns.</p>

<p><em>The winning of a Pawn among good players of even strength often means the
winning of the game.</em></p>

<p>Hence the study of such positions is of great importance. We give below two
positions in which the attack aims at the gain of a mere Pawn as a means of
ultimately winning the game.</p>

<h3>Example 48. </h3>

<p>Black is a Pawn behind, and there is no violent direct attack against
White's King. Black's pieces, however, are very well placed and free to act,
and by co-ordinating the action of all his pieces he is soon able not only to
regain the Pawn but to obtain the better game. The student should carefully
consider this position and the subsequent moves. It is a very good example of
proper co-ordination in the management of forces.  The game continues:</p>

{{ game.pgn("example48", "chapter3", "capablanca-cf") }}

<h3>Example 49. </h3>

<p>An examination of this position will show that Black's main weakness lies
in the exposed position of his King, and in the fact that his Queen's Rook has
not yet come into the game. Indeed, if it were Black's move, we might conclude
that he would have the better game, on account of having three Pawns to two on
the Queen's side, and his Bishop commanding the long diagonal.</p>

<p>It is, however, White's move, and he has two courses to choose from. The
obvious move, Bc4, might be good enough, since after 1. Bc4, Rad8; 2. b4 would
make it difficult for Black. But there is another move which completely upsets
Black's position and wins a Pawn, besides obtaining the better position. That
move is Nd4! The game continues as follows:</p>

{{ game.pgn("example49", "chapter3", "capablanca-cf") }}

<p>These positions have been given with the idea of acquainting the student
with different types of combinations. I hope they will also help to develop
his imagination, a very necessary quality in a good player. The student should
note, in all these middle-game positions, that <em>once the opportunity is
    offered, all the pieces are thrown into action "en masse" when
    necessary;</em> and that <em>all the pieces smoothly co-ordinate their
    action with machine-like precision.</em></p>

<p>That, at least, is what the ideal middle-game play should be, if it is not
so altogether in these examples.</p>

{% endblock %}
